---
title: Terms Search
layout: layout-sidenav
permalink: /terms/
category: Terms
breadcrumb: Terms
---

{% include vue-app-terms-contribute-form.html %}
<!-- Contains vue template for contribution-form -->
<div id="terms">
    <div :style="contributeButtonContainerStyle">
        <button
            type="button"
            class="sgds-button default"
            v-on:click="showContributionForm = !showContributionForm"
        >
            Contribute with your own term
            <span
                class="sgds-icon sgds-icon-chevron-down"
                v-if="!showContributionForm"
            ></span>
            <span
                class="sgds-icon sgds-icon-chevron-up"
                v-if="showContributionForm"
            ></span>
        </button>
    </div>
    <div v-if="showContributionForm" :style="contributionFormStyle">
        <contribution-form></contribution-form>
    </div>
    <label for="search-input">
        Search an initialism or acronym:
    </label>
    <div v-bind:style="searchBarStyle">
        <input
            type="text"
            id="search-input"
            class="input"
            placeholder="SGTS"
            v-model="search"
        />
    </div>
    <br />
    <div v-for="term in filteredTerms" v-cloak class="sgds-card">
        <div class="sgds-card-content">
            <p class="title">(( term.name ))</p>
            <p class="subtitle">(( term.fullName ))</p>
            <p>(( term.description ))</p>
        </div>
    </div>
</div>

<script src="/assets/js/vue-app-terms.js" type="text/javascript"></script>
