---
title: Newsletter
layout: layout-page-sidenav
---

<!-- <h1>
  Newsletter
</h1> -->

{% if site.posts %}
<div class="card-grid-container grid-25rem">
  {% for post in site.posts %}
    <div class="sgds-card">
        <div
          class="sgds-card-content"
          style="height: 100%; flex-direction: column; display: flex; justify-content: space-between;"
        >
        <a href="{{ post.url }}" style="height: 100%"><h4>
            {{ post.title }}
          </h4>
        </a>
          <p>{{ post.date | date_to_string }}</p>
          <!-- <p>{{ post.description }}</p> -->
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endif %}
