---
title: Newsletter
layout: layout-page-sidenav
---
<!-- <h1>
  Newsletter
</h1> -->

{% if site.posts %}
<div class="row is-multiline">
  {% for post in site.posts %}
  <div class="col is-6 is-flex">
    <a href="{{ post.url }}">
    <div class="sgds-card patterned">
      <div class="sgds-card-content">
        <h3>
          {{ post.title }}
        </h3>

        <p><strong>{{ post.date | date_to_string }}</strong></p>
        <!-- <p>{{ post.description }}</p> -->
      </div>
    </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endif %}
