---
title: Guidelines
layout: layout-page
---

<section class="sgds-section" style="padding-top: 0;">
  <div class="sgds-container">
    <div class="content">
      <div class="row">
        <div class="col">
          <h2>
            Overview
          </h2>
          <p>
            Read about the guidelines that help to streamline Government digital processes.
          </p>
          <hr>
          <h2>
            List of Guidelines
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% for guideline in site.data.guidelines %}
          {% assign categories = site.guidelines | sort: "category" | group_by: "category" %}
          {% for category in categories %} {% if category.name == guideline.name %}
          {% assign items = category.items | sort: "order"%}
          <h4>
            <b>{{ guideline.name }}</b>
          </h4>
          <p>{{ guideline.description }}</p>
          <ul>
            {% for item in items %}
            <li>
              <p><a href="{{ item.url }}">{{ item.title }}</a></b></p>
              <!-- <p>{{ item.description }}</p> -->
            </li>
            {% endfor %}
          </ul>
          {% endif %} {% endfor %}
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<section class="padding--bottom--xl">
  {% assign category_array = site.guidelines | map: "category" | uniq | jsonify %}
  {% include add-pages-app.html collection='guidelines' categories=category_array%}
</section>