_site
.sass-cache
.idea
.vscode
.jekyll-cache
.jekyll-metadata
.netlify
.env
node_modules
functions
assets/bundles
assets/**/*.bundle.js
scripts
*.log
_compress_images_cache.yml
.DS_Store
**/.DS_Store

cypress/report/**
cypress/videos/**
cypress/screenshots/**

/bash-scripts
assets/img/Apex-NewHeaderBanner.png
