{
  "arrowParens": "avoid",
  "useTabs": false,
  "quoteProps": "consistent",
  "printWidth": 80,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
