.sgds-card {
  display: flex;
  flex-direction: column;
  .sgds-card-content:first-child {
    flex: 1 1 auto;
  }
  .sgds-card-content:last-child {
    border-top: 1px solid #d6d6d6;
  }
}

.sgds-card-header {
  background-color: #0076d6;
}

.sgds-card-header-title {
  color: #fff;
}

.sgds-card:hover {
  background-color: #f7f7f7;
}

.sgds-card-button:hover {
  color: #484848;
}

.sgds-card.patterned {
  background-image: url("/assets/img/bg-memphispattern.png");
  color: #ffffff;
  a {
    color: #fff;
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: 2px 3px 5px gray;
    transition: all 0.3s;
  }
  &:active {
    transform: translateY(0);
  }
}