$primary: #0076d6;
$sgds-font-path: "../../node_modules/sgds-govtech/fonts";
@import "~sgds-govtech/sgds/sass/sgds";
@import "spinner";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.sgds-footer img {
  margin: 0;
  max-height: 1rem;
}

.sgds-card-header {
  background-color: #0076d6;
}

.sgds-card-header-title {
  color: #fff;
}

.sgds-card:hover {
  background-color: #f7f7f7;
}

.sgds-card-button:hover {
  color: #484848;
}

[v-cloak] {
  display: none;
}

.content {
  h2 {
    font-size: 2.375rem;
  }
}

.hero-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article img,
.article iframe {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.herobg {
  background: url("/assets/img/bg-blob-yellow.png") top left no-repeat;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.sgds-tabs.has-product ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  border: 0;
}

.sgds-tabs.is-toggle-product a {
  border: 1px solid #d6d6d6;
  margin-bottom: 0;
  position: relative;
  margin-left: 2px;
  width: 300px;
  transition: all 0.2s;
}

.sgds-tabs.is-toggle-product a:hover {
  background-color: #f0f0f0;
}

.sgds-tabs.is-toggle-product li.is-active a {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  z-index: 1;
}

.sgds-section.no-margin {
  margin: -6px !important;
  padding: 0;
}

.section.no-margin {
  margin: 0;
  padding: 0;
}

#curve {
  position: relative;
  bottom: 0;
  width: 100%;
}

#curve path {
  fill: rgb(68, 78, 121);
}

#bgcurve {
  position: relative;
  bottom: 0;
  width: 100%;
}

#bgcurve path {
  fill: rgb(255, 248, 220);
}

.sgds-card-button.bgblue {
  background-color: #0076d6;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #484848;
  transition: all 0.3s;
}

.sgds-card-button.home-actions:hover {
  background-color: #208de6;
}

.sgds-card-button.home-actions:active {
  background-color: #0076d6;
}

.row.is-padding-large .col {
  padding: 1.5rem;
}

a.external-link::after {
  display: inline-block;
  font-family: sgds-icons;
  content: "\e95c";
  padding-left: 0.25rem;
  font-weight: 400;
}
