{%- assign content = include.content -%}

{% if content.desc %}
{% assign render_dropdown = true %}
{% else %}
{% assign render_dropdown = false %}
{% endif %}
<div class="sgds-accordion is-borderless is-white">
  {% if render_dropdown %}
  <a href="#!" role="button" aria-expanded="false"
    class="sgds-accordion-header sgds-custom-accordion-header padding--left--none padding--top--none padding--bottom--none d-flex">
    <div class="is-flex sgds-accordian-speaker-content has-text-dark has-text-weight-semibold is-size-8">
      {% if content.image %}
      <img class="sgds-accordian-speaker-image margin--top--none margin--bottom--none margin--right is-size-7"
        src="{{ content.image | default: " /assets/img/photos/blank-photo.png" }}" alt="Speakr Avatar Image" />
      {% endif%}
      {{- content.name | append: ", " | append : content.title -}}
    </div>

    {% if render_dropdown %}
    <i class="sgds-icon sgds-icon-chevron-down"></i>
    {% endif %}
  </a>
  <div class="sgds-accordion-body padding--none padding--top--sm padding--bottom--sm">
    <div>
      <p class="has-text-weight margin--top--sm">
        {{- content.desc -}}
      </p>
      {% if content.subdesc %}
      <p class="has-text-weight margin--bottom--none">
        {{- content.subdesc -}}
      </p>
      {% endif%}
      {%- if content.email -%}
      <div class="is-flex is-flex-align-center" style="align-items: center;">
        <span class="sgds-icon sgds-icon-mail is-size-3 margin--right--xs" role="img" aria-label="sgds-icon-mail"
          style="-webkit-text-stroke: 1px white;"></span>
        <a href="mailto:{{ content.email }}">{{ content.email }}</a>
      </div>
      {%- endif -%}
    </div>
  </div>
  {% else %}
  <div
    class="sgds-accordion-header sgds-custom-accordion-header padding--left--none padding--top--none padding--bottom--none d-flex">
    <div class="is-flex sgds-accordian-speaker-content has-text-dark has-text-weight-semibold is-size-8">
      {% if content.image %}
      <img class="sgds-accordian-speaker-image margin--top--none margin--bottom--none margin--right is-size-7"
        src="{{ content.image | default: " /assets/img/photos/blank-photo.png" }}" alt="Speakr Avatar Image" />
      {% endif%}
      {{- content.name | append: ", " | append : content.title -}}
    </div>
    {% if render_dropdown %}
    <i class="sgds-icon sgds-icon-chevron-down"></i>
    {% endif %}
  </div>
  {% endif %}
</div>
