{%- assign data_file = include._data -%}
{%- assign specified_category = include.category | default: '' -%}
{%- assign event_details = site.data[data_file] | where_exp: "events", "events.type contains specified_category" -%}

<div class="is-fullwidth">
    {% for event in event_details %}
    <div class="sgds-card sgds-card-variant-video-info">
        <div class="sgds-card-content">
            <div>
				{% if event.speakers %}
					<p class="margin--bottom--sm has-text-dark has-text-weight-semibold">Speaker(s):</p>
					<div class="sgds-accordion-set">
						{%- for content in event.speakers -%}
						{%- include accordian-display.html content=content -%}
						{%- endfor -%}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
    {% endfor %}

    <div class="margin--top--lg">
        * Please note that the programme may be subject to change without prior notice
    </div>
</div>