<section id="annoucement-banner" class="sgds-section padding--sm" style="background-color:#FFBE57 !important">
  <div class="sgds-container">
    <div class="sgds-notification" style="background-color:#FFBE57">
        <div class="sgds-notification-detail">
            <div class="sgds-notification-content">
                <p class="has-text-weight-bold">Updates</p>
                <p>
                    GovTech has published its first ever Dynamic Contracting call against the Agile Co-Development and ICT Professional Services bulk tender. 
                    For more information on this tender, visit GeBIZ at <a href="https://www.gebiz.gov.sg/" class="announcement-link">https://www.gebiz.gov.sg. </a>
                    Simply key in the GeBIZ Tender Ref Number in the Search Bar <b>(GVT000ETT21000025)</b> to get full details on how to respond to this bid.
                    <br> 
                  <b>Important!</b> A virtual tender briefing will be held on next Tue, 12 Oct, 3:00pm for all interested parties. Do register your attendance by this Fri, 8 Oct, before 12:00pm via this link: <a href="https://go.gov.sg/aixco5" class="announcement-link">https://go.gov.sg/aixco5</a>
                </p>
            </div>
            <a role="button" tabindex="0" class="js-close-annoucement-banner">
                <span class="delete" id="cancel-notification"></span>
            </a>
        </div>
    </div>
  </div>
</section>
