<section id="annoucement-banner" class="sgds-section padding--sm" style="background-color:#FFBE57 !important">
  <div class="sgds-container">
    <div class="sgds-notification" style="background-color:#FFBE57">
        <div class="sgds-notification-detail">
            <div class="sgds-notification-content">
                <p class="has-text-weight-bold">Announcement</p>
                <p>
                  The Singapore Government Developer Portal will be undergoing scheduled maintenance on Monday, 22 August from 6pm to 12am and will not be available during that period.
                </p>
            </div>
            <a role="button" tabindex="0" class="js-close-annoucement-banner">
                <span class="delete" id="cancel-notification"></span>
            </a>
        </div>
    </div>
  </div>
</section>
