{% comment %} Get array of categories across all pages within collection {% endcomment %}
{% assign collection = page.collection %}
{% if collection and collection != "" %}
    {% assign currentCollection = site.collections | where: "label", collection | first %}
    {% assign category_array = currentCollection.docs | map: "category" | uniq | jsonify %}
{% endif %}
<div class="has-background-light padding margin--top--lg" style="display: flex; justify-content: flex-end">
    <div
        id="article-editor-app"
        data-title="{{ page.title }}"
        data-layout="{{ page.layout }}"
        data-category="{{ page.category }}"
        data-description="{{ page.description }}"
        data-url="{{ page.url }}"
        data-collection="{{ page.collection }}"
        data-categories='{{ category_array }}'
        data-content="{{ content | xml_escape }}"
    >
        <!-- xml_escape because html content's special characters (",' etc) may break this -->

        <!-- This spinner will show when the Vue app is loading -->
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>

    <script
        src="/assets/bundles/vue-article-editor-app.bundle.js"
        type="text/javascript"
        defer
    ></script>
</div>