<h2>Overview</h2>
<p>

  insert description for this page


</p>

<p>
  Resoures to help you with your community development journey.
</p>
<div class="card-grid-container grid-25rem">
  <div class="sgds-card">
    <div class="sgds-card-content">
      <h4>Community Playbook</h4>
      <p>
        This <a href="/asset/files/Community playbook.pdf" target="_blank" rel="noopener noreferrer nofollow">playbook</a>
        provides...
      </p>
    </div>
  </div>

  <div class="sgds-card">
    <div class="sgds-card-content">
      <h4>Dos and Don'ts</h4>
      <p>
        This <a href="/asset/files/Community playbook.pdf" target="_blank" rel="noopener noreferrer nofollow">playbook</a>
        provides...
      </p>
    </div>
  </div>
</div>