<script type="text/x-template" id="contribute-terms">
<div>
    <div class="sgds-card">
        <form name="contribute-terms-form" method="POST" data-netlify="true">
            <div class="sgds-card-content">
                <p>Have an initialism/acronym to contribute? Suggest them to us here!</p>

                <p>
                    <label for="contribute-terms-name">Your name*</label>
                    <input id="contribute-terms-name" name="name" class="input" type="text" placeholder="Richard Yang" required>
                </p>

                <p>
                    <label for="contribute-terms-email">Your government email*</label>
                    <input id="contribute-terms-email" name="email" class="input" type="email" placeholder="richard_yang@tech.gov.sg" required>
                </p>

                <p>
                    <label for="contribute-terms-term">Initialism/acronym*</label>
                    <input id="contribute-terms-term" name="term" class="input" type="text" placeholder="SGTS" required>
                </p>

                <p>
                    <label for="contribute-terms-category">Category</label>
                    <input id="contribute-terms-category" name="category" class="input" type="text" placeholder="platform, data">
                </p>

                <p>
                    <label for="contribute-terms-description">Short description*</label>
                    <input id="contribute-terms-description" name="description" class="input" type="text" placeholder="SGTS is ..." required>
                </p>

                <p>
                    <label for="contribute-terms-link">Links/URLs</label>
                    <input id="contribute-terms-link" name="link" class="input" type="text" placeholder="https://tech.gov.sg">
                </p>
            </div>
            <div class="sgds-card-footer">
                <div class="sgds-card-footer-item">
                    <span><button class="sgds-button default" type="submit">Submit</button></span>
                </div>
            </div>
        </form>
    </div>
</div>
</script>