<div id="feedback" class="row is-hidden">
    <div class="col is-12">
        <div class="is-size-4">Was this article useful?</div>
        <button class="sgds-button js-thumbs-up">
            <span class="sgds-icon sgds-icon-thumbs-up is-size-4" title="thumbs-up" alt="thumbs-up" role="img" aria-label="thumbs-up"></span>
            Yes
        </button>
        <button class="sgds-button js-thumbs-down">
            <span class="sgds-icon sgds-icon-thumbs-down is-size-4" title="thumbs-down" alt="thumbs-down" role="img" aria-label="thumbs-down"></span>
            No
        </button>
    </div>
</div>