<!-- Refer to main.js for interactivity -->

<div id="feedback">
  <hr>
  <div class="row is-multiline">
    <div class="col is-12">
      <div class="is-size-4">Was this article useful?</div>
    </div>
    <div class="col is-12 feedback__thumb">
      <button class="sgds-button js-thumbs-up">
        <span
          class="sgds-icon sgds-icon-thumbs-up is-size-4"
          title="thumbs-up"
          alt="thumbs-up"
          role="img"
          aria-label="thumbs-up"
        ></span>
        Yes
      </button>
      <button class="sgds-button js-thumbs-down">
        <span
          class="sgds-icon sgds-icon-thumbs-down is-size-4"
          title="thumbs-down"
          alt="thumbs-down"
          role="img"
          aria-label="thumbs-down"
        ></span>
        No
      </button>
    </div>
    <!-- Modal that shows page is useful -->
    <div
      class="sgds-modal is-fullwidth is-maxmediumwidth js-feedback-useful-modal"
      id="feedback-modal-useful-yes"
      aria-labelledby="developer portal feedback"
      role="dialog"
    >
      <div class="sgds-modal-background js-close-feedback-modal"></div>

      <div class="sgds-modal-card">
        <header class="sgds-modal-card-head">
          <div class="sgds-modal-card-title" id="sgds-modal-title">
            Did this page help you? - Yes
          </div>
          <button class="delete js-close-feedback-modal" aria-label="close"></button>
        </header>
        <section class="sgds-modal-card-body">
          <p>Thanks for letting us know that this page is useful for you!</p>
          <p>
            If you've got a moment, please tell us what we did right so that we
            can do more of it.
          </p>
        </section>
        <footer class="sgds-modal-card-foot is-flex-justify-fs">
          <a
            class="sgds-button is-outlined is-primary js-send-feedback-modal"
            target="_blank"
            href="{{ site.feedback_form }}?{{ site.feedback_form_url_field }}={{ page.url | uri_escape }}"
          >
            Feedback</a
          >
        </footer>
      </div>
    </div>

    <!-- Modal that shows page needs improvement -->
    <div
      class="sgds-modal is-fullwidth js-feedback-useful-modal"
      id="feedback-modal-useful-no"
      aria-labelledby="developer portal feedback"
      role="dialog"
    >
      <div class="sgds-modal-background js-close-feedback-modal"></div>

      <div class="sgds-modal-card">
        <header class="sgds-modal-card-head">
          <p class="sgds-modal-card-title" id="sgds-modal-title">
            Did this page help you? - No
          </p>
          <button class="delete js-close-feedback-modal" aria-label="close"></button>
        </header>
        <section class="sgds-modal-card-body">
          <p>
            Thanks for letting us know that this page still needs work to be
            done.
          </p>
          <p>
            If you've got a moment, please tell us how we can make this page
            better.
          </p>
        </section>
        <footer class="sgds-modal-card-foot is-flex-justify-fs">
          <a
            class="sgds-button is-outlined is-primary js-send-feedback-modal"
            target="_blank"
            href="{{ site.feedback_form }}?{{ site.feedback_form_url_field }}={{ page.url | uri_escape }}"
          >
            Feedback</a
          >
        </footer>
      </div>
    </div>

    <div class="col is-12 feedback__success is-hidden">
      <span
        class="sgds-icon sgds-icon-check is-size-4 has-text-success"
        title="check"
        alt="check"
        role="img"
        aria-label="check"
      >
      </span>
      <span class="has-text-success">Sent. Thank you for the feedback!</span>
    </div>
    
    <div class="col is-12">
      <a
        target="_blank"
        href="{{ site.feedback_form }}?{{ site.feedback_form_url_field }}={{ page.url | uri_escape }}"
      >
        Provide Feedback</a
      >
    </div>
  </div>
</div>
