<div class="content">
    <div class="row">
        <div class="col is-8">
            <h2 class="has-text-weight-black">
                Start Building with our Developer Portal
            </h2>
            <p>Build your next best digital services with our Technological Solutions, Project Guidelines, and see what opportunities are available in our Community</p>
        </div>
    </div>
    <div class="row">
        <div class="col is-flex">
            <div class="sgds-card">
                <div class="sgds-card-image">
                    <figure class="sgds-image is-2by1">
                        <img src="/assets/img/img-guidelines.svg" alt="Guidelines" />
                    </figure>
                </div>
                <div class="sgds-card-content has-text-centered">
                    <h3><strong>Guidelines</strong></h3>
                    <p>
                        Read our project guidelines to plan and execute your projects well
                    </p>
                </div>
                <div class="sgds-card-footer">
                    <a href="/guidelines" class="sgds-card-footer-item"><p>Get started</p></a>
                </div>
            </div>
        </div>

        <div class="col is-flex">
            <div class="sgds-card">
                <div class="sgds-card-image">
                    <figure class="sgds-image is-2by1">
                        <img src="/assets/img/img-technologies.svg" alt="Technologies" />
                    </figure>
                </div>
                <div class="sgds-card-content has-text-centered">
                    <h3><strong>Technologies</strong></h3>
                    <p>
                        Discover the latest technological solutions you can integrate into your services
                    </p>
                </div>
                <div class="sgds-card-footer">
                    <a class="sgds-card-footer-item" href="/technologies"><p>Explore technologies</p></a>
                </div>
            </div>
        </div>

        <div class="col is-flex">
            <div class="sgds-card">
                <div class="sgds-card-image">
                    <figure class="sgds-image is-2by1">
                        <img src="/assets/img/img-community.svg" alt="Community" />
                    </figure>
                </div>
                <div class="sgds-card-content has-text-centered">
                    <h3><strong>Communities</strong></h3>
                    <p>
                        Be part of our fast-growing developer community
                    </p>
                </div>
                <div class="sgds-card-footer">
                    <a href="/communities" class="sgds-card-footer-item"><p>Find out more</p></a>
                </div>
            </div>
        </div>
    </div>
</div>