{% assign data = include.bios %}
<div class="card-grid-container grid-17rem">
    {% for bio in data %}
    {% assign img_url = "/assets/img/" | append: bio.img_src %}
    <div class="sgds-card">
        <div class="sgds-card-image">
            <figure class="sgds-image is-9by9">
                <img class="margin--bottom--none" src="{{ img_url }}" alt="{{ bio.name }}">
            </figure>
        </div>
        <div class="sgds-card-content" style="border-top: 0px">
            <h4 class="margin--bottom--sm"><strong>{{ bio.name }}</strong></h4>
            <p class="margin--bottom--sm has-text-dark"><strong>{{ bio.title }}</strong></p>
            {% if bio.linkedin_url %}
            <p>
                <strong>
                    <a href="{{bio.linkedin_url}}">Linkedin</a>
                </strong>
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
