<h2>Overview:</h2>
<p>
  Developers can access and leverage the various technologies and tools that
  Government agencies have open-sourced.&nbsp;Our open-source tools include a
  wide range of products for areas such as digital identity, design and UI, and
  infrastructure-as-code.
</p>
<p>
  We have also open-sourced some of the digital tools that we are using in our
  fight against COVID-19.
</p>
<ul>
  <li>
    <p>
      <strong
        ><a
          href="https://www.tracetogether.gov.sg"
          rel="noopener noreferrer nofollow"
          ><u>TraceTogether</u></a
        > </strong
      >is<strong> </strong>a mobile application developed to support existing
      nationwide efforts to combat COVID-19 by enabling community-driven contact
      tracing using Bluetooth technology. TraceTogether is built on the
      <a href="https://bluetrace.io" rel="noopener noreferrer nofollow"
        ><u>BlueTrace protocol</u></a
      >; more information can be found
      <a
        href="https://github.com/opentrace-community"
        rel="noopener noreferrer nofollow"
        ><u>here</u></a
      >.
    </p>
  </li>
  <li>
    <p>
      <strong>VigilantGantry</strong> is an AI-driven automated temperature
      screening gantry that augments existing thermal systems to enhance the
      rate of contactless scanning.&nbsp; Find out more
      <a
        href="https://github.com/dsaidgovsg/vigilantgantry"
        rel="noopener noreferrer nofollow"
        ><u>here</u></a
      >.
    </p>
  </li>
</ul>

<hr />

<h3>Our open-source technologies and tools</h3>

<div class="row is-multiline open-source">
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Apex API Gateway</h4>
        <p>
          <a href="/technologies/data-and-apis/apex">Apex</a> is a Government
          API gateway that allows development teams to manage and share their
          application APIs securely. Apex is available on both internet and
          intranet environments.
        </p>
        <ul>
          <li>
            <a href="https://github.com/GovTechSG/node-apex-api-security"
              >Node.js API signature library</a
            >
          </li>
          <li>
            <a href="https://github.com/GovTechSG/java-apex-api-security"
              >Java API signature library</a
            >
          </li>
          <li>
            <a href="https://github.com/GovTechSG/apex-proxy-node"
              >Node.js HTTP Proxy Server for attaching Apex authentication
              headers</a
            >
          </li>
          <li>
            <a href="https://github.com/GovTechSG/apex-signature-validator"
              >Apex API signature validator</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Design and UI</h4>
        <ul>
          <li>
            <a href="https://www.designsystem.gov.sg">
              Singapore Government Design System</a
            >, a UI component library to help web development teams build
            quickly with confidence.
          </li>
          <li>
            <a href="http://github.com/GovTechSG/purple-hats">Purple hats</a>
            is a customisable, automated accessibility testing tool that allows
            software development teams to assess whether their products are
            user-friendly to persons with disabilities (PWDs).
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Form</h4>
        <p>
          <a href="https://www.form.gov.sg/">Form</a>
          builder and manager used by the Singapore government and public
          healthcare institutions to securely collect data from residents and
          businesses.
        </p>
        <p>
          Form has been used for various data collection especially during
          COVID-19 to minimise human contact and possible transmissions. Some of
          them include:
        </p>
          <ul>
            <li>
              Collecting travel and health declarations by visitors to the country.
          </li>
            <li>
              Swab tests applications.
            </li>
              <li>
                COVID-19 financial assistance applications and distributions.
              </li>
                <li>
                 Daily temperature declarations by citizens.
               </li>
                 <li>
                  Mandatory primary school registration for 7 years old nationwide.
            </li>
        </ul>
        <p>
          Using Form grants legitimacy to government agencies collecting
          sensitive data, making it difficult for malicious actors to steal
          citizens' data. It also provides rich features that especially support
          public sector needs - such as table-input fields, OTP verification,
          contact details, email domain restrictions, logic to disable
          submissions and date validations.
        </p>
        <p>
          Form is open sourced on GitHub at
          <a href="https://www.github.com/opengovsg/formsg/">
            <u>https://github.com/opengovsg/formsg</u></a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Go</h4>
        <p>
          <a href="https://www.go.gov.sg/">Go</a>
          is a Government link shortener granting legitimacy to content shared
          by public officers.
        </p>
        <p>
          <a href="https://www.go.gov.sg/">Go.gov.sg</a>
          has been used for shortening links to various platforms.
        </p>
        <ul>
          <li>
            <p>
              <a href="https://wwww.go.gov.sg/whatsapp/"
                ><u>go.gov.sg/whatsapp</u></a
              >
              is an application form of the official WhatsApp broadcast of the
              Singapore government.
            </p>
          </li>
          <li>
            <p>
              <a href="https://go.gov.sg/passport/"
                ><u>go.gov.sg/passport</u></a
              >
              is an application of passport for Singaporean citizens.
            </p>
          </li>
          <li>
            <p>
              Besides that, Go is also used in training materials for Covid-19
              healthcare volunteers, press releases about COVID-19, articles and
              documents.
            </p>
          </li>
        </ul>
        <p>
          It saves agencies time from shortening a domain or creating a webpage
          for new content on their website and also lets citizens know that they
          are accessing from a legitimate government source.
        </p>
        <p>
          Go is open sourced at<a href="https://www.go.gov.sg/go-opensource/">
            <u>https://go.gov.sg/go-opensource/</u></a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Infrastructure-as-code</h4>
        <p>
          Infrastructure-as-code technologies allow development teams to define
          their application infrastructure through declarative configuration
          files. This allows teams to deploy their infrastructure more quickly
          and consistently.
        </p>
        <ul>
          <li>
            <a href="https://github.com/gdsace/terraform-modules"
              >Terraform modules</a
            >
            to host HashiCorp's suite of tools on AWS
          </li>
          <li>
            GovTech <a href="https://medium.com/dsaid-govtech">DSAID's</a>
            <a href="https://github.com/dsaidgovsg/terraform-modules"
              >AWS Terraform modules</a
            >
          </li>
          <li>
            GovTech
            <a href="https://blog.gds-gov.tech">GDS's</a>
            <a href="https://github.com/GovTechSG/terraform-aws-vpc">
              AWS Terraform modules
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>National Digital Identity</h4>
        <p>
          Libraries for integrating applications with the
          <a
            href="/technologies/digital-identity/national-digital-identity.html"
            >National Digital Identity</a
          >
          platform.
        </p>
        <ul>
          <li>
            <a href="https://github.com/GovTechSG/singpass-myinfo-oidc-helper"
              >Node.js library for SingPass and Myinfo's OpenID Connect APIs</a
            >
          </li>
          <li>
            <a href="https://github.com/opengovsg/spcp-auth-client"
              >Node.js library for SingPass and Myinfo's SAML APIs</a
            >
          </li>
          <li>
            <a href="https://github.com/gdsace/libcorppass"
              >A wrapper around libsaml to perform authentication with CorpPass
              for Rack and Warden applications.</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>OpenAttestation</h4>
        <p>
          <a href="https://openattestation.com/">Open Attestation</a>
          is the base framework behind OpenCerts and TradeTrust.
        </p>
        <ul>
          <li>
            <a href="/technologies/blockchain/opencerts">OpenCerts</a>
            is a platform using blockchain to provide an
            <a href="https://opencerts.io/">easy and reliable way</a> to issue
            and validate tamper-resistant certificates.
          </li>
          <li>
            <a href="https://tradetrust.io/">TradeTrust</a> is a digital utility
            that comprises a set of globally-accepted standards and frameworks
            that connects governments and businesses to a public blockchain to
            enable trusted interoperability and exchanges of electronic trade
            documents across digital platforms.
          </li>
        </ul>
        <p>
          The entire framework, and its products, have been open-sourced,
          available for both the public and private companies to review,
          implement and integrate to their systems. The respective source code
          is located at:
        </p>
        <ul>
          <li>
            <a href="https://github.com/Open-Attestation">OpenAttestation</a>
          </li>
          <li><a href="https://github.com/OpenCerts">OpenCerts</a></li>
          <li><a href="https://github.com/tradetrust">TradeTrust</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Postman</h4>
        <p>
          <a href="https://www.Postman.gov.sg/">Postman</a>
          is a mass communication tool used by Singapore public
          agencies that was launched in May 2020. Postman has been supporting COVID-19
          related use cases to help our public officers reach citizens in this
          uncertain period of time.
        </p>
        <p>
          <a href="https://www.postman.gov.sg/">Postman.gov.sg</a>
          has been used to:
        </p>
        <ul>
          <li>
              Send negative COVID-19 swab results to patients.
              </li>
          <li>
              Enabling the Ministry of Health's
              <a href="https://www.healthcarecorps.gov.sg/">Healthcare Corps</a>
              in managing COVID-19 volunteers.
              </li>
          <li>
              Remind citizens on quarantine notice to reply to geolocation check for compliance.
              </li>
          <li>
              Help teachers to communicate with students at home for home-based
              learning.
                </li>
            <li>
                Notify citizens of changes in government agency appointments.
          </li>
        </ul>
        <p>
          Postman is an omnichannel platform and helps to send messages en masse
          easily. It also keeps track of your campaign's progress and analytics.
        </p>
        <p>
          Postman is open sourced at
          <a href="https://www.github.com/opengovsg/postmangovsg/">
            <u>https://github.com/opengovsg/postmangovsg/</u></a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Sensors & IOT</h4>
        <p>Software to support sensor and internet-of-things platforms.</p>
        <ul>
          <li>
            <a href="https://github.com/GovTechSIOT/stack-manuca-os"
              >MANUCA OS, a functional real-time operating system for sensor
              node developers</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
