<h2>Overview:</h2>
<p>
  Developers can access and leverage the various technologies and tools that
  Government agencies have open-sourced.&nbsp;Our open-source tools include a
  wide range of products for areas such as digital identity, design and UI, and
  infrastructure-as-code.
</p>
<p>
  We have also open-sourced some of the digital tools that we are using in our
  fight against COVID-19.
</p>
<ul>
  <li>
    <p>
      <strong
        ><a
          href="https://www.tracetogether.gov.sg"
          rel="noopener noreferrer nofollow"
          ><u>TraceTogether</u></a
        > </strong
      >is<strong> </strong>a mobile application developed to support existing
      nationwide efforts to combat COVID-19 by enabling community-driven
      contact tracing using Bluetooth technology. TraceTogether is built on the
      <a href="https://bluetrace.io" rel="noopener noreferrer nofollow"
        ><u>BlueTrace protocol</u></a
      >; more information can be found
      <a
        href="https://github.com/opentrace-community"
        rel="noopener noreferrer nofollow"
        ><u>here</u></a
      >.
    </p>
  </li>
  <li>
    <p>
      <strong>VigilantGantry</strong> is an AI-driven automated temperature
      screening gantry that augments existing thermal systems to enhance the
      rate of contactless scanning.&nbsp; Find out more
      <a
        href="https://github.com/dsaidgovsg/vigilantgantry"
        rel="noopener noreferrer nofollow"
        ><u>here</u></a
      >.
    </p>
  </li>
</ul>

<hr />

<h3>Our open-source technologies and tools</h3>

<div class="row is-multiline open-source">
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Apex API Gateway</h4>
        <p>
          <a href="/technologies/data-and-apis/apex">Apex</a> is a Government API gateway
          that allows development teams to manage and share their application
          APIs securely. Apex is available on both internet and intranet
          environments.
        </p>
        <ul>
          <li>
            <a href="https://github.com/GovTechSG/node-apex-api-security"
              >Node.js API signature library</a
            >
          </li>
          <li>
            <a href="https://github.com/GovTechSG/java-apex-api-security"
              >Java API signature library</a
            >
          </li>
          <li>
            <a href="https://github.com/GovTechSG/apex-proxy-node"
              >Node.js HTTP Proxy Server for attaching Apex authentication
              headers</a
            >
          </li>
          <li>
            <a href="https://github.com/GovTechSG/apex-signature-validator"
              >Apex API signature validator</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Infrastructure-as-code</h4>
        <p>
          Infrastructure-as-code technologies allow development teams to define
          their application infrastructure through declarative configuration
          files. This allows teams to deploy their infrastructure more quickly
          and consistently.
        </p>
        <ul>
          <li>
            <a href="https://github.com/gdsace/terraform-modules">Terraform modules</a>
            to host HashiCorp's suite of tools on AWS
          </li>
          <li>
            GovTech <a href="https://medium.com/dsaid-govtech">DSAID's</a>
            <a href="https://github.com/dsaidgovsg/terraform-modules"
              >AWS Terraform modules</a
            >
          </li>
          <li>
            GovTech
            <a href="https://blog.gds-gov.tech">GDS's</a>
            <a href="https://github.com/GovTechSG/terraform-aws-vpc">
              AWS Terraform modules
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Design and UI</h4>
        <ul>
          <li>
            <a href="https://www.designsystem.gov.sg">
              Singapore Government Design System</a>, a UI component library
              to help web development teams build quickly with confidence.
          </li>
          <li>
            <a href="http://github.com/GovTechSG/purple-hats">Purple hats</a>
            is a customisable, automated accessibility testing tool that allows
            software development teams to assess whether their products are
            user-friendly to persons with disabilities (PWDs).
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>National Digital Identity</h4>
        <p>
          Libraries for integrating applications with the
          <a href="/technologies/digital-identity/national-digital-identity.html"
            >National Digital Identity</a
          >
          platform.
        </p>
        <ul>
          <li>
            <a href="https://github.com/GovTechSG/singpass-myinfo-oidc-helper"
              >Node.js library for SingPass and Myinfo's OpenID Connect APIs</a
            >
          </li>
          <li>
            <a href="https://github.com/opengovsg/spcp-auth-client"
              >Node.js library for SingPass and Myinfo's SAML APIs</a
            >
          </li>
          <li>
            <a href="https://github.com/gdsace/libcorppass"
              >A wrapper around libsaml to perform authentication with CorpPass
              for Rack and Warden applications.</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Sensors & IOT</h4>
        <p>Software to support sensor and internet-of-things platforms.</p>
        <ul>
          <li>
            <a href="https://github.com/GovTechSIOT/stack-manuca-os"
              >MANUCA OS, a functional real-time operating system for sensor
              node developers</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>OpenCerts</h4>
        <p>
          <a href="https://github.com/OpenCerts">OpenCerts</a>
          is a platform using blockchain to provide an easy and
          reliable way to issue and validate tamper-resistant certificates.
        </p>
        <p>
          <a href="https://github.com/tradetrust">TradeTrust</a> is a
          digital utility that comprises a set of globally-accepted standards
          and frameworks that connects governments and businesses to a
          public blockchain to enable trusted interoperability and exchanges of
          electronic trade documents across digital platforms.
        </p>
        <p>
          <a href="https://github.com/Open-Attestation">Open Attestation</a>
          is the base framework behind OpenCerts and TradeTrust.
        </p>
      </div>
    </div>
  </div>
</div>
