---
title: Open Source Technologies
layout: layout-page-sidenav
category: Digital Solutions to Address COVID-19
description: >
  Our open-source technologies cover a range of areas such as COVID-19 and digital identity.
  Find out more here!
---

<h2>Overview</h2>
<p>

All developers are able to access and tap on the wide range of open-source technologies by Government agencies. 
This includes a variety of products from a plethora of areas like digital identity, design and User Identity (UI), and infrastructure-as-code.  

You can also look at the open-source technologies that Singapore has used in its fight against COVID-19 such as 
<a href="/technologies/digital-solutions-to-address-covid-19/tracetogether" target="_blank">TraceTogether</a> and 
<a href="/technologies/digital-solutions-to-address-covid-19/vigilantgantry" target="_blank">VigilantGantry</a>.

</p>

<p>
  We have also open-sourced some of the digital tools that we are using in our
  fight against COVID-19.
</p>
<div class="row is-multiline open-source">
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>TraceTogether</h4>
        <p>
          <a href="https://www.tracetogether.gov.sg" target="_blank" rel="noopener noreferrer nofollow">TraceTogether</a> 
          is a mobile application developed to support existing nationwide efforts to combat COVID-19 by enabling community-driven contact tracing using 
          Bluetooth technology. TraceTogether is built on the <a href="https://bluetrace.io" target="_blank" rel="noopener noreferrer nofollow">
          BlueTrace protocol</a>; more information can be found <a href="https://github.com/opentrace-community" target="_blank" rel="noopener noreferrer nofollow">
          here</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>VigilantGantry</h4>
        <p>
          <a href="/technologies/digital-solutions-to-address-covid-19/vigilantgantry" target="_blank">VigilantGantry</a> is an 
          AI-driven automated temperature screening gantry that augments existing thermal systems to enhance the rate of contactless scanning. 
          Find out more <a href="https://github.com/dsaidgovsg/vigilantgantry" target="_blank" rel="noopener noreferrer nofollow">here</a>.
        </p> 
      </div>
    </div>
  </div>

<hr />

<h3>Our open-source technologies and tools</h3>

<div class="row is-multiline open-source">
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Apex API Gateway</h4>
        <p>
          <a href="/technologies/data-and-apis/apex">Apex</a> is a Government
          API gateway that allows development teams to manage and share their
          application APIs securely. Apex is available on both internet and
          intranet environments.
        </p>
        <ul>
          <li>
            <a href="https://github.com/GovTechSG/node-apex-api-security" target="_blank"
              >Node.js API signature library</a
            >
          </li>
          <li>
            <a href="https://github.com/GovTechSG/java-apex-api-security" target="_blank"
              >Java API signature library</a
            >
          </li>
          <li>
            <a href="https://github.com/GovTechSG/apex-proxy-node" target="_blank"
              >Node.js HTTP Proxy Server for attaching Apex authentication
              headers</a
            >
          </li>
          <li>
            <a href="https://github.com/GovTechSG/apex-signature-validator" target="_blank"
              >Apex API signature validator</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Design and UI</h4>
        <ul>
          <li>
            <a href="https://www.designsystem.gov.sg" target="_blank">
              Singapore Government Design System</a
            >, a UI component library to help web development teams build
            quickly with confidence.
          </li>
          <li>
            <a href="http://github.com/GovTechSG/purple-hats" target="_blank">Purple hats</a>
            is a customisable, automated accessibility testing tool that allows
            software development teams to assess whether their products are
            user-friendly to persons with disabilities (PWDs).
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Form</h4>
        <p>
          <a href="https://www.form.gov.sg/" target="_blank">Form</a>
          builder and manager used by the Singapore government and public
          healthcare institutions to securely collect data from residents and
          businesses.
        </p>
        <p>
          Form has been used for various data collection especially during
          COVID-19 to minimise human contact and possible transmissions. Some of
          them include:
        </p>
          <ul>
            <li>
              Collecting travel and health declarations by visitors to the country.
          </li>
            <li>
              Swab tests applications.
            </li>
              <li>
                COVID-19 financial assistance applications and distributions.
              </li>
                <li>
                 Daily temperature declarations by citizens.
               </li>
                 <li>
                  Mandatory primary school registration for seven year olds nationwide.
            </li>
        </ul>
        <p>
          Using Form grants legitimacy to government agencies collecting
          sensitive data, making it difficult for malicious actors to steal
          citizens' data. It also provides rich features that especially support
          public sector needs - such as table-input fields, one time password (OTP) verification,
          contact details, email domain restrictions, logic to disable
          submissions and date validations.
        </p>
        <p>
          Form is open sourced on GitHub at
          <a href="https://www.github.com/opengovsg/formsg/" target="_blank">
            https://github.com/opengovsg/formsg</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Go</h4>
        <p>
          <a href="https://www.go.gov.sg/" target="_blank">Go</a>
          is a Government link shortener granting legitimacy to content shared
          by public officers.
        </p>
        <p>
          <a href="https://www.go.gov.sg/" target="_blank">Go.gov.sg</a>
          has been used for shortening links to various platforms.
        </p>
        <ul>
          <li>
            <p>
              <a href="https://www.go.gov.sg/whatsapp/" target="_blank">go.gov.sg/whatsapp</a>
              is an application form of the official WhatsApp broadcast of the
              Singapore government.
            </p>
          </li>
          <li>
            <p>
              <a href="https://go.gov.sg/passport/" target="_blank">go.gov.sg/passport</a>
              is an application of passport for Singaporean citizens.
            </p>
          </li>
          <li>
            <p>
              Besides that, Go is also used in training materials for COVID-19
              healthcare volunteers, press releases about COVID-19, articles and
              documents.
            </p>
          </li>
        </ul>
        <p>
          It saves government agencies time when it comes to shortening a domain name. It  also lets citizens know that they
          are accessing information from a legitimate government source by ensuring consistency in domain names generated.
        </p>
        <p>
          Go is open sourced at <a href="https://www.go.gov.sg/go-opensource/" target="_blank">https://go.gov.sg/go-opensource/</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Infrastructure-as-code</h4>
        <p>
          Infrastructure-as-code technologies allow development teams to define
          their application infrastructure through declarative configuration
          files. This allows teams to deploy their infrastructure more quickly
          and consistently.
        </p>
        <ul>
          <li>
            <a href="https://github.com/gdsace/terraform-modules" target="_blank">Terraform modules</a>
            to host HashiCorp's suite of tools on <a href="https://aws.amazon.com/" target="_blank">Amazon Web Service</a> (AWS)
          </li>
          <li>
            GovTech <a href="https://medium.com/dsaid-govtech" target="_blank">DSAID's</a>
            <a href="https://github.com/dsaidgovsg/terraform-modules" target="_blank">AWS Terraform modules</a>
          </li>
          <li>
            GovTech
            <a href="https://blog.gds-gov.tech" target="_blank">GDS's</a>
            <a href="https://github.com/GovTechSG/terraform-aws-vpc" target="_blank">AWS Terraform modules</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>National Digital Identity</h4>
        <p>
          Libraries for integrating applications with the
          <a href="/technologies/digital-identity/national-digital-identity.html" target="_blank">
          National Digital Identity</a> platform.
        </p>
        <ul>
          <li>
            <a href="https://github.com/GovTechSG/singpass-myinfo-oidc-helper" target="_blank">
            Node.js library for Singpass and Myinfo's OpenID Connect APIs</a>
          </li>
          <li>
            <a href="https://github.com/opengovsg/spcp-auth-client" target="_blank">
            Node.js library for Singpass and Myinfo's SAML APIs</a>
          </li>
          <li>
            <a href="https://github.com/gdsace/libcorppass" target="_blank">
            A wrapper around libsaml to perform authentication with Corppass for Rack and Warden applications</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>OpenAttestation</h4>
        <p>
          <a href="https://openattestation.com/" target="_blank">OpenAttestation</a>
          is the base framework behind OpenCerts, HealthCerts and TradeTrust.
        </p>
        <ul>
          <li>
          <a href="/technologies/blockchain/opencerts" target="_blank">OpenCerts</a>
          is a platform using blockchain to provide an <a href="https://opencerts.io/" target="_blank">easy and
          reliable way</a> to issue and validate tamper-resistant certificates.
        </li>
        <li><a href="https://healthcerts.gov.sg" target="_blank">HealthCerts</a> comprises a set of digital
          standards and schema to be used by clinics and labs during the issuance of digital COVID-19 test results/vaccination certificates.
          </li>
        <li>
          <a href="https://tradetrust.io/" target="_blank">TradeTrust</a> is a
          digital utility that comprises a set of globally-accepted standards
          and frameworks that connects governments and businesses to a
          public blockchain to enable trusted interoperability and exchanges of
          electronic trade documents across digital platforms.
        </li>
        </ul>
        <p> The entire framework and its products have been open-sourced,
          available for both the public and private companies to review,
          implement and integrate to their systems. The respective source codes
           are located at:</p>
           <ul>
             <li><a href="https://github.com/Open-Attestation" target="_blank">OpenAttestation</a>
               </li>
             <li><a href="https://github.com/OpenCerts" target="_blank">OpenCerts</a>
               </li>
               <li><a href="https://schemata.openattestation.com" target="_blank">HealthCerts Schema</a>
               </li>
               <li><a href="https://github.com/tradetrust" target="_blank">TradeTrust</a>
              </li>
                </ul>
                <p><a href="https://verify.gov.sg" target="_blank">Verify</a> is the official verification tool
                  for OpenAttestation-compatible documents that are
                  either issued or notarised by the Government.</p>
                <p><a href="https://notarise.gov.sg" target="_blank">Notarise</a> is powered by
                  OpenAttestation technology. Taking verifiable documents as inputs, the
                  platform verifies the document and passes it through a rules engine before
                  issuing a notarised version of the document.</p>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Postman</h4>
        <p>
          <a href="https://www.Postman.gov.sg/" target="_blank">Postman</a>
          is a mass communication tool used by Singapore public
          agencies that was launched in May 2020. Postman has been supporting COVID-19
          related communication campaigns to help our public officers reach citizens during the pandemic
        </p>
        <p>
          <a href="https://www.postman.gov.sg/" target="_blank">Postman.gov.sg</a>
          has been used to:
        </p>
        <ul>
          <li>
              Send negative COVID-19 swab results to patients.
              </li>
          <li>
              Enable the Ministry of Health's  
              <a href="https://www.healthcarecorps.gov.sg/" target="_blank">Healthcare Corps</a>
              in managing COVID-19 volunteers.
              </li>
          <li>
              Remind citizens on quarantine notice to reply and comply to geolocation checks.
              </li>
          <li>
              Help teachers to communicate with students at home for home-based
              learning.
                </li>
            <li>
                Notify citizens of changes in government agency appointments.
          </li>
        </ul>
        <p>
          Postman is an omnichannel platform and helps to send messages en masse
          easily. It also keeps track of your campaign's progress and analytics.
        </p>
        <p>
          Postman is open sourced at
          <a href="https://www.github.com/opengovsg/postmangovsg/" target="_blank">
            https://github.com/opengovsg/postmangovsg/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Sensors & IOT</h4>
        <p>Software to support sensor and internet-of-things platforms.</p>
        <ul>
          <li>
            <a href="https://github.com/GovTechSIOT/stack-manuca-os" target="_blank"
              >MANUCA OS, a functional real-time operating system for sensor
              node developers</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
