<div class="row is-multiline">
	<div class="col is-4-desktop is-12-tablet is-flex">
		<div class="sgds-card">
			<div class="sgds-card-content">
				<h4><a href="/our-digital-journey/singapore-digital-government-journey">Singapore Digital Government Journey</a></h4>
				<p>Learn how GovTech spearheaded our government digital transformation and the Smart Nation vision.</p>
			</div>
		</div>
	</div>
	<div class="col is-4-desktop is-12-tablet is-flex">
		<div class="sgds-card">
			<div class="sgds-card-content">
				<h4><a href="/products/all-products">All Products</a></h4>
				<p>Explore our product catalogue here and find the perfect product for your digital transformation project!</p>
			</div>
		</div>
	</div>
	<div class="col is-4-desktop is-12-tablet is-flex">
		<div class="sgds-card">
			<div class="sgds-card-content">
				<h4><a href="/communities/events/all-events">Events</a></h4>
				<p>Meet like-minded individuals from the government, vendors, or tech community through our various events.</p>
			</div>
		</div>
	</div>
</div>            
