{% comment %}get curent collection label{% endcomment %}
{% assign collection = page.collection %}
{% if collection and collection != "" %}
    {% assign currentCollection = site.collections | where: "label", collection | first %}
{% endif %}
{% if currentCollection.label == nil %}
<section
class="sgds-section breadcrumb-title-section has-background-general padding--bottom--lg padding--top--lg"
>
{% else %}
<section
  class="sgds-section breadcrumb-title-section has-background-{{currentCollection.label}} padding--bottom--lg padding--top--lg"
>
{% endif %}
  <div class="wave-gfx">
  </div>
  <div class="sgds-container">

    {% assign main_title = page.title %}
    {% assign page_name = page.id | split: "/" | last | replace: "-", " " | capitalizewords %}

    <div class="row">
      <div class="col is-8">
        {% include sgds-breadcrumb.html %}
        {% if page.single_level_nav %}
        <h1 class="has-text-white has-text-weight-bold is-hidden-mobile">{{ main_title }}</h1>
        <h1 class="has-text-white has-text-weight-bold is-hidden-desktop">{{ page_name }}</h1>
        {% else %}
        <h1 class="has-text-white has-text-weight-bold">{{ main_title }}</h1>
        {% endif %}
      </div>
    </div>
  </div>
</section>