{% comment %}get curent collection label{% endcomment %}
{% assign collection = page.collection %}
{% if collection and collection != "" %}
    {% assign currentCollection = site.collections | where: "label", collection | first %}
{% endif %}
{% if currentCollection.label == nil %}
<section
class="sgds-section breadcrumb-title-section has-background-general padding--bottom--lg padding--top--lg"
>
{% else %}
<section
  class="sgds-section breadcrumb-title-section has-background-{{currentCollection.label}} padding--bottom--lg padding--top--lg"
>
{% endif %}
  <div class="wave-gfx">
  </div>
  <div class="sgds-container">

    <div class="row">
      <div class="col is-8">
        {% include sgds-breadcrumb.html %}
        {% assign main_title = page.title %}

        {% if collection == "products" %}
          {% comment %} This checks that current page is a post under products. Instade of checking page.single-level-nav. {% endcomment %}
          {%- assign page_id_terms = page.id | split: "/" -%}
          {% assign page_id_last = page_id_terms | last %}
          {% if page_id_last == "index" %}
            {%- assign page_id_terms = page_id_terms | pop -%}
          {% endif %}
          {% unless page.url contains "all-products" or page_id_terms.size > 4 %}
            {% assign main_title = "Products" %}
          {% endunless %}
        {% endif %}
        {% if page.mobile_title %}
        {% assign mobile_title = page.mobile_title %}
        <h1 class="has-text-white has-text-weight-bold is-hidden-mobile">{{ main_title }}</h1>
        <h1 class="has-text-white has-text-weight-bold is-hidden-desktop">{{ mobile_title }}</h1>
        {% else %}
        <h1 class="has-text-white has-text-weight-bold">{{ main_title }}</h1>
        {% endif %}
      </div>
    </div>
  </div>
</section>