<div class="row bg-secondary has-text-white margin--top--lg margin--bottom--lg padding--lg">
    <div class="col">
        <h3 class="has-text-weight-semibold margin--bottom">Search for another product</h3>
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" placeholder="Find a Government Product">
            </div>
            <div class="control">
                <a class="button is-primary">
                    Search
                </a>
            </div>
        </div>
    </div>
</div>