<div class="masthead-container is-fixed" id="navbar">
    {% include sgds-masthead.html %}
    <nav class="navbar is-transparent">
        <div class="sgds-container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/assets/img/logo_sgds.png" alt="">
                </a>
                <div class="navbar-burger burger" data-target="mainnav-1">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="mainnav-1" class="navbar-menu">
                {%- assign links = site.data.navigation -%}
                {%- for lvl1item in links -%}
                <div class="navbar-item is-stretched">
                    {%- assign class = nil -%}
                    {%- if page.url contains lvl1item.url -%}
                    {%- assign class = 'is-active' -%}
                    {%- endif -%}
                    <a class="navbar-item is-uppercase {{class}}" href="{{ lvl1item.url }}">
                        {{ lvl1item.title }}
                    </a>
                </div>
                {%- endfor -%}
            </div>
            <div class="navbar-end is-hidden-touch">
                <div class="navbar-item">
                    <a class="navbar-item is-uppercase is-small sgds-button is-rounded" href="/terms/">
                        Tech Acronyms
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
