<footer class="sgds-footer top-section">
    <div class="sgds-container">
        <div class="row">
            <div class="col">
                <h5 class="footer-link-title"><b>Design System</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col is-3">
                <p class="footer-link-title"><b>User Guides</b></p>
                <p><a href="/general/review/">Review an Article</a></p>
                <p><a href="/general/contribute/">Contribute an Article</a></p>
            </div>
            <div class="col is-3">
                <p class="footer-link-title"><b>Blogs</b></p>
                <p><a href="https://blog.gds-gov.tech/" target="_blank">Government Digital Services</a></p>
                <p><a href="https://blog.data.gov.sg/" target="_blank">Government Open Data</a></p>
                <p><a href="https://medium.com/ndi-sg" target="_blank">National Digital Identity</a></p>
            </div>
            <div class="col is-3">
                <p class="footer-link-title"><b>GitHub Repositories</b></p>
                <p><a href="https://github.com/GovTechSG" target="_blank">Government Digital Services</a></p>
                <p><a href="https://github.com/isomerpages" target="_blank">Isomer Pages</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col is-right-desktop-only">
                <ul>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="https://form.gov.sg/5b02943839e23a001a1be70f" target="_blank">Contact</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row is-vcentered divider">
            <div class="col">
                <ul>
                    <li><a href="/general/privacy/">Privacy Statement</a></li>
                    <li><a href="/general/terms/">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <small class="has-text-grey"> © 2018 Government of Singapore</small>
            </div>
        </div>
    </div>
</footer>