<footer class="sgds-footer">
  <div class="top-section">
    <div class="sgds-container">
      <div class="row">
        <div class="col">
          <h5>
            <strong>Singapore Government Developer Portal</strong>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col is-3 contribute">
          <p><strong>Contribute content</strong></p>
          <p>
            Have a project or technology to share?
            fill in the form <a href="{{ site.feedback_form }}">here.</a>
          </p>
        </div>
        <div class="col is-3">
          <p><strong>Blogs and Forums</strong></p>
          <p>
            <a
              href="https://medium.com/csg-govtech"
              target="_blank"
              class="external-link"
              >Cyber Security Group</a
            >
          </p>
          <p>
            <a
              href="https://medium.com/dsaid-govtech"
              target="_blank"
              class="external-link"
              >Data Science & Artificial Intelligence Division</a
            >
          </p>
          <p>
            <a
              href="https://blog.gds-gov.tech/"
              target="_blank"
              class="external-link"
              >Government Digital Services</a
            >
          </p>
          <p>
            <a
              href="https://medium.com/ndi-sg"
              target="_blank"
              class="external-link"
              >National Digital Identity</a
            >
          </p>
          <p>
            <a
              href="https://opengovsg.medium.com/"
              target="_blank"
              class="external-link"
              >Open Government Products</a
            >
          </p>
          <p>
            <a
              href="https://medium.com/siot-govtech"
              target="_blank"
              class="external-link"
              >Sensors & IoT</a
            >
          </p>
          <p>
            <a
              href="https://medium.com/snsp-govtech"
              target="_blank"
              class="external-link"
              >Smart Nation Sensor platform</a
            >
          </p>
        </div>
        <div class="col is-3">
          <p><strong>Open-source</strong></p>
          <p>
            <a
              href="https://github.com/datagovsg"
              target="_blank"
              class="external-link"
            >
              Data.gov.sg
            </a>
          </p>
          <p>
            <a
              href="https://github.com/dsaidgovsg"
              target="_blank"
              class="external-link"
            >
              Data Science & Artifical Intelligence Division
            </a>
          </p>
          <p>
            <a
              href="https://github.com/GovTechSG"
              target="_blank"
              class="external-link"
            >
              Government Digital Services
            </a>
          </p>
          <p>
            <a
              href="https://github.com/opengovsg"
              target="_blank"
              class="external-link"
            >
              Open Government Products
            </a>
          </p>
          <p>
            <a
              href="https://github.com/GovTechSIOT"
              target="_blank"
              class="external-link"
            >
              Sensors & Internet of Things
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col is-right-desktop-only">
          <ul>
            <li class="is-inline-block-desktop-only">
              <p>
                <a
                  class="has-text-white external-link"
                  href="https://www.tech.gov.sg"
                  target="_blank"
                  ><strong>GovTech Singapore</strong></a
                >
                <a
                  href="{{ site.feedback_form }}"
                  target="_blank"
                  class="external-link"
                  >Contact</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <div class="sgds-container">
      <div class="row is-multiline">
        <div class="col is-12">
          <ul>
            <li>
              <a
                href="https://tech.gov.sg/report_vulnerability"
                target="_blank"
                class="external-link"
                >Report Vulnerability</a
              >
            </li>
            <li><a href="/privacy">Privacy Statement</a></li>
            <li><a href="/terms-of-use">Terms of Use</a></li>
          </ul>
        </div>
        <div
          class="col is-12 has-text-right-desktop has-text-right-tablet has-text-left-mobile"
        >
          <p class="is-hidden-touch">
            &copy; {{ site.time | date: "%Y"}} Government of Singapore. Last
            Updated {{ site.time | date_to_string }}
          </p>
          <p class="is-hidden-desktop">
            &copy; {{ site.time | date: "%Y"}} Government of Singapore
          </p>
          <p class="is-hidden-desktop last-updated">
            Last Updated {{ site.time | date_to_string }}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
