<footer class="sgds-footer top-section">
    <div class="sgds-container">
        <div class="row">
            <div class="col">
                <h6 class="site-title"><b>Developer Portal</b></h6>
            </div>
        </div>
        <div class="row">
            <div class="col is-3">
                <p><a href="/general/contribute/">Contribute an Article</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col is-right-desktop-only">
                <ul>
                    <li class="is-inline-block-desktop-only">
                        <p><a href="https://form.gov.sg/5b02943839e23a001a1be70f" target="_blank">Contact</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row is-vcentered divider">
            <div class="col">
                <ul>
                    <li><a href="/general/privacy/">Privacy Statement</a></li>
                    <li><a href="/general/terms/">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <p> © 2018 Government of Singapore</p>
            </div>
        </div>
    </div>
</footer>