<nav class="sgds-breadcrumb" aria-label="breadcrumbs">
    <ul class="is-marginless">
        <li class="is-marginless">
            <a class="has-text-white" href="{{ site.baseurl }}/">
                {{ "Home" | upcase }}
            </a>
        </li>
        {%- capture page_url_without_index_html -%}
            {{ page.url | remove: ".html" |remove: "/index" | remove: "/index.html" }}
        {%- endcapture -%}

        {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
        {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
        {% assign breadcrumbs_sections = '' %}
        {% for i in (1..forLoopMaxInt) %}
            {% assign breadcrumbs_sections = breadcrumbs_sections | append: '/' | append: splitted_url_parts[i] %}
            <li>
                <a class="has-text-white" href="{{ site.baseurl }}{{breadcrumbs_sections}}">
                {{ splitted_url_parts[i] | upcase | replace: "-", " "}}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>