{% comment %}
For Planned/WIP SGTS products, the date resides in _singapore-government-tech-stack/overview/index.html
sgts_collection_group: [analytics]
sgts_layer_group: [services]
sgts_title: Personalise
{% endcomment %}

<div class="sgds-card grid-item">
  <div class="sgds-card-header is-shadowless">
    <h4 class="sgds-card-header-title is-flex-justify-c ">{{include.header}}</h4>
  </div>
  {% if {{include.card_type}} == "sm" %}
  <div class="sgds-card-content ">
    <ul class="is-paddingless is-marginless is-flex-justify-sb">
  {% elsif {{include.card_type}} == "lg" %}
  <div class="sgds-card-content sgds-card-ul-hz">
    <ul class="is-paddingless is-marginless is-flex is-flex-justify-sb">
  {% endif %}

        {% for item in site.products  %}
          {% if item.sgts_collection_group contains include.category and item.sgts_layer_group contains include.layer %}
            <a href={{item.redirect_from[0]}} target="_blank" rel="noopener noreferrer">
              <li class="live margin--top--none margin--bottom">{{item.sgts_title}}</li>
            </a>
          {% endif %}
        {% endfor %}

          {% if include.layer == "services" %}
            {% assign sgts_service_layer_products = page.sgts_service_layer[include.category] %}
              {% include sgts-service-layer-items.html item=sgts_service_layer_products.planned class="planned" %}
              {% include sgts-service-layer-items.html item=sgts_service_layer_products.work_in_progress class="work_in_progress" %}
          {% elsif include.layer == "base" %}
            {% assign sgts_base_layer_products = page.sgts_base_layer[include.category] %}
              {% include sgts-service-layer-items.html item=sgts_base_layer_products.planned class="planned" %}
              {% include sgts-service-layer-items.html item=sgts_base_layer_products.work_in_progress class="work_in_progress" %}
          {% endif %}
      </ul>
  </div>
</div>
