{%- assign collection = page.collection -%}
{%- assign category = page.category | slugify -%}
{%- assign product_name = page.product | slugify -%}
{%- assign active_page = page.id | split: "/" | last -%}

{%- assign products = site.data.products -%}
{%- for product in products -%}

{%- if product.name == page.product -%}
  {%- assign current_product = product-%}
{% endif %}

{% endfor %}

{%- assign nav_items = current_product.items -%}

{%- for item in nav_items -%}

{% assign item_url = item | slugify %}
{%- assign class = nil -%}
{%- if active_page == item_url -%}
    {%- assign class = 'is-active' -%}
{%- endif -%}

<li>
    <a
        class="productnav {{ class }}"
        href="{{ '/' | append: collection | append: '/' | append: category | append: '/' | append: product_name | append: '/' | append: item_url }}"
    >
      {{ item }}
    </a>
  </li>

{% endfor %}