{%- assign collection = page.collection -%}
{%- assign category = page.category | slugify -%}
{%- assign nav_items = site.data.navigation_product -%}
{%- assign product_name = page.product | slugify -%}

{%- assign active_page = page.id | split: "/" | last -%}

{%- for item in nav_items -%}

{%- assign class = nil -%}
{%- if active_page == item.url -%}
    {%- assign class = 'is-active' -%}
{%- endif -%}
<li>
    <a
        class="productnav {{ class }}"
        href="{{ '/' | append: collection | append: '/' | append: category | append: '/' | append: product_name | append: '/' | append: item.url }}"
    >
      {{ item.title }}
    </a>
  </li>
{% endfor %}