{%- assign events = site.data['events-nav'] -%}
{%- assign category = include.specified_category_tag | default: '' -%}
{%- assign filtered_events = events | where_exp: "item", "item.category contains category" -%}

<div class="card-grid-container is-fullwidth">
  {%- for event in filtered_events reversed -%}
    {%- assign name = event.name -%}
    {%- assign sub_section_slug = event.name | slugify -%}
    {%- assign event_date_and_timing = event.event_date | default: event.date -%}
    {%- assign url_str = page.url | remove: 'index.html' | append: sub_section_slug -%}

    {%- comment -%} Optional Fields {%- endcomment -%}
    {%- assign recordings_uploaded = event.recording_link | default: false -%}

    {%- if event.category contains "Conference" -%}
      {%- assign img_src = '/assets/img/communities/conferences.svg' -%}
      {%- assign url_str = "/communities/events/conferences/" | append: sub_section_slug-%}
    {%- elsif event.category contains "Stack-X Meetup"-%}
      {%- assign img_src = '/assets/img/communities/stack-x-meetups.svg' -%}
      {%- assign url_str = "/communities/events/stack-x-meetups/" | append: sub_section_slug-%}
    {%- else -%}
      {%- assign img_src = '/assets/img/communities/hackathons.svg' -%}
      {%- assign url_str = "/communities/events/hackathons/" | append: sub_section_slug-%}
    {%- endif -%}

    <!-- Since event.event_date is a range of date, we will use the " - " delimiter to retrieve the start and end date -->
    {%- if event.event_date contains " - " -%}
      {%- assign start_date = event.event_date | split: " - " | first -%}
      {%- assign end_date = event.event_date | split: " - " | last | default:start_date -%}

      <!-- Get the number of days between the start_date and end_date -->
      {%- assign start_date_second = start_date | date: "%s" -%}
      {%- assign end_date_second = end_date | date: "%s" -%}
      {%- assign event_number_of_days = end_date_second | minus: start_date_second | divided_by: 86400 | plus: 1 -%}

      {%- if event_number_of_days >= 2 -%}
        {%- assign additional_tag = "[" | append : event_number_of_days | append: "-Day Event] " -%}
        {%- assign name = name | prepend : additional_tag -%}
      {%- endif -%}
    {%- else -%}
      {%- assign event_date = event.event_date -%}
      {%- assign event_end_date = event.event_date -%}
    {%- endif -%}

  <!-- Remove the index.html then append sub_section_slug -->
  <div class="community-section-event-card" data-start-date="{{ start_date }}" data-end-date="{{ end_date }}" data-number-of-days="{{ event_number_of_days }}">
    {%- include card-variant-calendar.html
    name=name
    category=event.category
    description=event.description
    recordings_uploaded=recordings_uploaded
    event_number_of_days=event_number_of_days
    img_src=img_src
    url_str=url_str
    event_date_and_timing=start_date
    disableItemCount=include.disableItemCount
    -%}
  </div>
  {%- endfor -%}
</div>
