<div class="row is-multiline">
  {% for category in site.data[include.sectionName] %}
  <div class="col is-4 padding--lg">
    <a href="{{ category.name | slugify }}">
      {% assign item_count = category.items | size %}
      <h3 style="margin-bottom: 0">
        {{ category.name }}
      </h3>
      {% if item_count > 0 %}
        <small>
            ({{ item_count }}&nbsp;
            {%- if item_count == 1 -%}
              item
            {%- elsif item_count > 1 -%} 
              items
            {%- endif -%})
        </small>
      {% endif %}
    </a>
    <p>{{ category.description }}</p>
  </div>
  {% endfor %}
</div>
