<div class="card-grid-container grid-25rem">
  {% for sub_section in site.data[include.sectionName] %}
    {% assign sub_section_slug = sub_section.name | slugify %}
    {% assign item_count = sub_section.items | size | minus: 1 %}
    {% assign url_str = include.url_middle | append : sub_section_slug  %}
    {% if include.is_header_group_variant %}
      {% assign parentCardStyle = "sgds-card-variant-header-group-info" %}
      {% assign contentHeaderStyle = "sgds-card-content-header-group-header" %}
      {% include card-variant-header-group.html disableItemCount=include.disableItemCount parentCardStyle=parentCardStyle contentHeaderStyle=contentHeaderStyle img_src=include.img_src img_label=include.img_label name=sub_section.name description=sub_section.description item_count=item_count url_str=url_str %}
    {% else %}
      {% assign name = sub_section.name | downcase | replace:" ","-" %}
      {% assign img_src = '/assets/img/' | append: page.title | downcase | append : '/' | append: name | append: '.svg' %}
      {% assign parentCardStyle = "sgds-card-variant-sub-section-info"  %}
      {% include card-variant-basic.html disableItemCount=include.disableItemCount parentCardStyle=parentCardStyle img_src=img_src name=sub_section.name description=sub_section.description item_count=item_count url_str=url_str %}
    {% endif %}
  {% endfor %}
</div>
