{% for item in include.itinerary %}
<div class="sgds-card">
    <div class="sgds-card-content">
        <small>{{ item.timeslot }}</small>

        {% if item.desc == nil %}
        <div class="is-size-5" style="padding-top: 8px; padding-bottom: 8px; padding-left: 13px;">
            <strong>{{ item.title }}</strong>
        </div>
        {% elsif item.desc != nil %}
        <div class="sgds-accordion is-borderless is-medium">
            <a class="sgds-accordion-header" role="button" aria-expanded="true">
                <strong>{{ item.title }}</strong>
                <i class="sgds-icon sgds-icon-chevron-down"></i>
            </a>
            <div class="sgds-accordion-body">
                <p>
                    {{ item.desc }}
                </p>
            </div>

        </div>
        {% endif %}

        {% if item.speakers != nil %}
        <b style="margin-left:10px; font-size:larger">Speaker(s) </b>
        {% endif %}
        {% for speaker in item.speakers %}
        <div style="color:black; display:flex;align-items: center">
            <img loading="lazy" src="{{speaker.image}}" alt="Wei Junyu" style="width:56px;margin: 0 10px 0 0" />
            <p>{{speaker.name}}<b></b>, {{speaker.title}}</p>
        </div>

        {% endfor%}
    </div>
</div>
{% endfor %}
