<div class="card-grid-container technologies">
  {% assign page_collection = page.collection %}
  {% assign sub_collection = page.id | split: "/" | shift | shift | first %}
  {% comment %} 
    if page is at /guidelines/project-inception/,
    then collection = guidelines and sub-collection is project-inception 
  {% endcomment %}

  {% assign full_collection = site[page_collection] %}
  {% for document in full_collection %}
    {% assign document_sub_collection = document.id | split: "/" | shift | shift | first %}
    {% if document_sub_collection == sub_collection and page.title != document.title %}

    <div class="sgds-card sgds-card-variant-category-info grid-item">
      <div class="sgds-card-content">
        <header>
          <a href="{{ category.name | slugify }}"><h4>{{ document.title }}</h4></a>
        </header>
        <p>
          <!-- TODO: [issue] markdownify create blank <p> tag at the top and bottom of description -->
          {{ document.description | markdownify }}
        </p>
      </div>
    </div>

    {% endif %}
  {% endfor %}
</div>