<div class="card-grid-container grid-25rem">
  {% assign page_collection = page.collection %}
  {% assign sub_collection = page.id | split: "/" | shift | shift | shift | first %}

  {% comment %}
    if page is at /guidelines/project-inception/,
    then collection = guidelines and sub-collection is project-inception
  {% endcomment %}

  {% assign full_collection = site[page_collection] | sort : "title" %}
  {% for document in full_collection%}
    {% assign document_sub_collection = document.id | split: "/" | shift | shift | shift | first %}

    {% comment %}
      we are checking each page's front matter variable called sub_collection_render when we call document.sub_collection_render
      if set to false, the page will not render in the sub collection cards
    {% endcomment %}

    {% assign sub_collection_check = false %}
    {% if include.is_collection %}
      {% comment %}
        Check sub_collection against collection_group if current document is under collections tab.
      {% endcomment %}

      {% assign collection_group = document.collection_group %}
      {% for collection in collection_group%}
        {% assign collection_slug = collection | slugify %}
        {% if collection_slug == sub_collection %}
          {% assign sub_collection_check = true %}
        {% endif %}
      {% endfor %}

    {% comment %}
      For non-collection, there is only 1 mapping to the sub collection
    {% endcomment %}

    {% else %}
      {% if document_sub_collection == sub_collection %}
        {% assign sub_collection_check = true %}
      {% endif %}
    {% endif %}
    {% if sub_collection_check and page.title != document.title and document.sub_collection_render %}
    {% include sub-collection-card.html document = document %}

    {% endif %}
  {% endfor %}
</div>