<div class="masthead-container has-background-white" id="sgds-navbar">
    {% include sgds-masthead.html %}
    <nav class="sgds-navbar">
        <div class="sgds-container">
            <div class="sgds-navbar-brand">
                <a class="sgds-navbar-item" href="/">
                    <img src="/assets/img/logo_developer.gov.sg.png" alt="Home">
                </a>
                <div class="sgds-navbar-burger" data-target="sgds-navbar-main">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="sgds-navbar-main" class="sgds-navbar-menu">
                <div class="sgds-navbar-start">
                    <form action="/search/" method="get" class="is-hidden-desktop">
                        {% include search-box.html id='query-mobile' %}
                    </form>
                    {%- assign links = site.data.navigation -%}
                    {%- for lvl1item in links -%}
                        {%- assign class = nil -%}
                        {%- if page.url contains lvl1item.url -%}
                        {%- assign class = 'is-active' -%}
                        {%- endif -%}
                        <div class="sgds-navbar-item has-dropdown is-hoverable is-mega">
                            <a class="sgds-navbar-link {{class}} is-tab has-text-weight-semibold" href="{{ lvl1item.url }}">
                                {{ lvl1item.title }}
                            </a>
                            <div class="sgds-navbar-dropdown">
                                <div class="sgds-container is-fluid">
                                    <div class="row">
                                        <div class="col is-4">
                                            <p class="section-heading"><strong>{{ lvl1item.description.heading }}</strong></p>
                                            <p>{{ lvl1item.description.content }}</p>
                                        </div>
                                        <div class="col is-8">
                                            <div class="row is-multiline">
                                                {% assign siteSection = lvl1item.title | downcase %}
                                                {% assign siteSectionDetails = site.data[siteSection] %}
                                                {% for siteSectionItem in siteSectionDetails %}
                                                    <div class="col is-6">
                                                        {% assign sectionNameSlug = siteSectionItem.name | slugify %}
                                                        <p>
                                                            <a href="{{'/' | append: siteSection | append: '/' | append: sectionNameSlug }}">
                                                                {{ siteSectionItem.name }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
                <div class="sgds-navbar-end">
                    <!-- <div class="sgds-navbar-item">
                        <a class="is-small sgds-button is-rounded has-text-weight-semibold" href="/">
                          
                        </a>
                    </div> -->
                    {% if page.layout != 'search' %}
                    <div class="sgds-navbar-item">
                        <button id="main-search" class="sgds-button is-white is-large is-hidden-touch search-toggle" data-target="searchbar-main">
                            <span class="sgds-icon sgds-icon-search"></span>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="sgds-container is-hidden-touch hide" id="searchbar-main">
        <div class="row">
            <div class="col">
                <form action="/search/" method="get">
                    {% include search-box.html id='query-desktop' %}
                </form>
            </div>
        </div>
    </div>
</div>
