<div class="masthead-container is-fixed has-background-white" id="sgds-navbar">
    {% include sgds-masthead.html %}
    <nav class="sgds-navbar">
        <div class="sgds-container">
            <div class="sgds-navbar-brand">
                <a class="sgds-navbar-item" href="/">
                    <img src="/assets/img/logo_developer.gov.sg.png" alt="Home">
                </a>
                <div class="sgds-navbar-burger" data-target="sgds-navbar-main">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="sgds-navbar-main" class="sgds-navbar-menu">
                <div class="sgds-navbar-start">
                    <form action="/search/" method="get" class="is-hidden-desktop">
                        {% include search-box.html id='query-mobile' %}
                    </form>
                    {%- assign links = site.data.navigation -%}
                    {%- for lvl1item in links -%}
                        {%- assign class = nil -%}
                        {%- if page.url contains lvl1item.url -%}
                        {%- assign class = 'is-active' -%}
                        {%- endif -%}
                        <a class="sgds-navbar-item is-uppercase {{class}} is-tab has-text-weight-semibold" href="{{ lvl1item.url }}">
                            {{ lvl1item.title }}
                        </a>
                    {%- endfor -%}
                </div>
                <div class="sgds-navbar-end">
                    <div class="sgds-navbar-item">
                        <a class="is-uppercase is-small sgds-button is-rounded has-text-weight-semibold" href="/terms/">
                            Tech Acronyms
                        </a>
                    </div>
                    {% if page.layout != 'search' %}
                    <div class="sgds-navbar-item">
                        <button id="main-search" class="sgds-button is-white is-large is-hidden-touch search-toggle" data-target="searchbar-main">
                            <span class="sgds-icon sgds-icon-search"></span>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="sgds-container is-hidden-touch hide" id="searchbar-main">
        <div class="row">
            <div class="col">
                <form action="/search/" method="get">
                    {% include search-box.html id='query-desktop' %}
                </form>
            </div>
        </div>
    </div>
</div>
