{%- assign data_file = include._data -%}
{%- assign section_title = include.title -%}
{%- assign section_desc = include.section_desc -%}
{%- assign video_types = include.type | split: ", " -%}
{%- assign videos = site.data[data_file] | where_exp: "video", "video_types contains video.type" -%}


<div class="is-fullwidth card-grid-container">
  {% if section_title %}
  <div class="has-background-light padding--xs padding--left has-text-weight-bold is-size-8">
    {{- section_title -}}
  </div>
  {% endif %}

  {% for video in videos %}
  {% assign video_id = video.video_id %}
  {% assign video_url = "https://www.youtube.com/watch?v=" | append: video_id %}
  {% assign video_title = video.title %}
  {% assign speakers = video.speakers | split: ", " %}
  {% assign speakers_title = video.speakers_title | split: "| " %}
  {% assign article_link = video.article_link %}
  {% assign slide_link = video.slide_link %}
  {% assign video_image = "https://img.youtube.com/vi/$video_id/hqdefault.jpg" | replace: "$video_id", video_id %}

  <div class="sgds-card sgds-card-variant-video-info">
    <div class="sgds-card-content">
      <div class="content-grid">
        {% if video_id != nil %}
        <div class="sgds-card-image">
          <figure class="sgds-image">
            <a href="{{ video_url }}" target="_blank" rel="noopener noreferrer">
              <img alt="stack video thumbnail" src="{{ video_image }}" />
            </a>
          </figure>
        </div>
        {% endif %}
        <div class="info">
          {% if video_id != nil %}
          <h4>
            <a href="{{ video_url }}" target="_blank" rel="noopener noreferrer">
              {{ video_title }}
            </a>
          </h4>
          {% else %}
          <h4>{{ video_title }}</h4>
          {% endif %}

          {%- if video.category-%}
          <div class="is-flex">
            {%- for category in video.category -%}
            <div
              class="is-hidden-touch has-text-weight-semibold padding--left--sm padding--right--sm is-size-8 margin--top margin--bottom margin--right--sm"
              style="background-color: #CCE4F7; width: fit-content; border-radius: 0.1rem; padding: 0.40rem; border-radius: .25rem;">
              {{ category }}
            </div>
            {%- endfor -%}
          </div>
          {%- endif-%}

          <p>
            <strong>Speaker(s)</strong> <br>
            {% for speaker in speakers %}
            {% assign speaker_index = forloop.index| minus: 1 %}
            <strong>{{ speaker }}</strong>, {{speakers_title[speaker_index]}}<br><br>
            {% endfor %}
          </p>
          {% if article_link != nil %}

          You can read the article <a href="{{ video.article_link}}" target="_blank" rel="noopener noreferrer">here</a>.
          {% endif %}

          {% if slide_link != nil %}
          <a href="{{ '/assets/files/' | append: video.slide_link }}" target="_blank" rel="noopener noreferrer">
            View Slides
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
