{%- assign data_file = include._data -%}
{%- assign video_types = include.type | split: ", " -%}
{%- assign videos = site.data[data_file] | where_exp: "video", "video_types contains video.type" -%}
{%- assign title_header = include.title -%}
{%- assign title_description = include.description -%}

<!-- Getting all the options -->
{%- assign options = '' | split: ',' %}
{%- for video in videos -%}
{%- if video.category-%}
{% assign video_category = video.category %}
{%- assign options = options | push: video_category -%}
{%- endif-%}
{%- endfor -%}
{%- assign options = options | uniq | sort -%}

<!-- Form -->
<div class="spacing-container-horizontal spacing-16">
    <strong class="label-text-to-hide">Filter lists: </strong>
    <form name="form" style="flex: auto;" class="search-box-defined-width row" action="" method="get">
        <div class="col">
            {% include search-box.html id='query-all-events' placeholder='Search event titles' %}
        </div>
        <div class="field col padding--right--none">
            <div class="control has-icons-right is-expanded is-fullwidth">
                <select class="input" id='query-all-category' name="tag_filter" autocomplete="off"
                    onchange="redirect();">
                    <option value="All tags">All tags</option>
                    {%- for option in options -%}
                    <option value="{{option}}">{{option}}</option>
                    {%- endfor -%}
                </select>
                <span class="icon is-right">
                    <i class="search-bar-icon sgds-icon sgds-icon-chevron-down is-size-7"></i>
                </span>
            </div>
        </div>
    </form>
</div>

<!-- Stats -->
<p class="has-text-dark margin--top margin--bottom search-result-status" id="event-results-container">
    Showing <span id="number-of-filtered-events"></span> out of <span id="number-of-total-events"></span> recordings
</p>

<!-- Results -->
<div class="card-grid-container is-fullwidth">
    {% for video in videos %}
    {% assign video_id = video.video_id %}
    {% assign video_url = "https://www.youtube.com/watch?v=" | append: video_id %}
    {% assign video_title = video.title %}
    {% assign speakers = video.speakers | split: ", " %}
    {% assign speakers_title = video.speakers_title | split: "| " %}
    {% assign article_link = video.article_link %}
    {% assign slide_link = video.slide_link %}
    {% assign video_image = "https://img.youtube.com/vi/$video_id/hqdefault.jpg" | replace: "$video_id", video_id %}
    {%- assign video_categories = "" |  split: ','-%}

    {%- if video.category-%}
    {%- for category in video.category -%}
    {%- assign video_category = video.category -%}
    {%- assign video_categories = video_categories | push: video_category -%}
    {%- endfor -%}
    {%- endif -%}
    {% assign video_categories = video_categories | uniq | join: "|" %}
    <div class="sgds-card sgds-card-variant-video-info" data-category="{{video_categories}}">
        <div class="sgds-card-content">
            <div class="content-grid">
                {% if video_id != nil %}
                <div class="sgds-card-image">
                    <figure class="sgds-image">
                        <a href="{{ video_url }}">
                            <img alt="stack video thumbnail" src="{{ video_image }}" />
                        </a>
                    </figure>
                </div>
                {% endif %}
                <div class="info">
                    {% if video_id != nil %}
                    <h4>
                        <a href="{{ video_url }}" target="_blank" rel="noopener noreferrer"
                            id="sgds-card-content-event-title">
                            {{ video_title }}
                        </a>
                    </h4>
                    {% else %}
                    <h4 id="sgds-card-content-event-title">{{ video_title }}</h4>
                    {% endif %}

                    {%- if video.category-%}
                    <div class="is-flex">
                        {%- for category in video.category -%}
                        <div class="is-hidden-touch has-text-weight-semibold padding--left--sm padding--right--sm is-size-8 margin--top margin--bottom margin--right--sm"
                            style="background-color: #CCE4F7; width: fit-content; border-radius: 0.1rem; padding: 0.40rem; border-radius: .25rem;">
                            {{ category }}
                        </div>
                        {%- endfor -%}
                    </div>
                    {%- endif-%}

                    <p id="sgds-card-content-event-description">
                        {{video.description}}
                    </p>

                    <p>
                        <strong>Speaker(s):</strong> <br>
                        {% for speaker in speakers %}
                        {% assign speaker_index = forloop.index| minus: 1 %}
                        <strong>{{ speaker }}</strong>, {{speakers_title[speaker_index]}}<br><br>
                        {% endfor %}
                    </p>

                    {% if article_link != nil %}
                    You can read the article <a href="{{ video.article_link}}" target="_blank">here</a>.
                    {% endif %}

                    {% if slide_link != nil %}
                    <a href="{{ '/assets/files/' | append: video.slide_link }}" target="_blank">
                        View Slides
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script async type="text/javascript">
    try {
        // Get or append URL Params
        function redirect() {
            var params = {};
            for (var i = 0; i < document.form.elements.length; i++) {
                var fieldName = document.form.elements[i].name;
                var fieldValue = document.form.elements[i].value;
                params[fieldName] = fieldValue;
            }

            window.location.href = '?query=' + params['query'] + '&' + 'tag_filter=' + params['tag_filter'];
            return false;
        }

        // Getting search param 
        const queryParam = new URL(window.location.href).searchParams.get("query") ?
            new URL(window.location.href).searchParams.get("query") :
            '';

        // Getting options param 
        const categoryParam = new URL(window.location.href).searchParams.get("tag_filter") ?
            new URL(window.location.href).searchParams.get("tag_filter") :
            "All tags";

        // Setting the search box value to the prev value
        document.getElementById("query-all-events").value = queryParam;
        document.getElementById("query-all-category").value = categoryParam;
        document.getElementById('number-of-total-events').innerHTML = document.querySelectorAll(`[data-category]`)
            .length

        // Filtering
        var incrementalVal = 0;
        Array.from(document.querySelectorAll(`[data-category]`))
            .filter((node) => {
                if (node.querySelector(`#sgds-card-content-event-title`).innerHTML.trim().toLowerCase().includes(
                        queryParam.toLowerCase())) {
                    return true
                }
                node.remove();
            })
            .filter((node) => {
                if (categoryParam === "All tags") {
                    return true;
                }
                if (node.getAttribute('data-category').split("|").includes(categoryParam)) {
                    return true;
                }
                node.remove();
            })
            .forEach((node) => {
                incrementalVal++
            });

        document.getElementById('number-of-filtered-events').innerHTML = incrementalVal;
    } catch (e) {
        document.getElementById('event-results-container').innerHtml = e
    }
</script>