<div id="edit-app">
    <a
        class="sgds-button is-primary pull-right"
        @click="openEditor('{{ page.title }}', '{{ page.permalink }}', '{{ page.category }}')"
        >Edit</a
    >
    <editor-modal
        v-if="showEditorModal"
        :page_path="page_path"
        :page_title="page_title"
        :page_category="page_category"
        :initial_content="content"
        @close="showEditorModal = false"
    >
    </editor-modal>
</div>

<script type="text/x-template" id="editor-modal">
    <div>
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-header">
                            <h5>Editing (( page_title ))</h5>
                        </div>
        
                        <div class="modal-body">
                            <div id="editor">
                                <span v-html="initial_content"></span>
                            </div>
                        </div>
        
                        <div class="modal-footer">
                            <form
                                id="edit-form"
                                name="edit-form"
                                method="POST"
                                data-netlify="true"
                                data-netlify-honeypot="honeypot-field"
                            >
                                <!-- Spam guard -->
                                <input type="hidden" name="honeypot-field" value="edit-form"/>
                                <input id="page_path" name="page_path" class="input" type="hidden"/>
                                <input id="page_title" name="page_title" class="input" type="hidden"/>
                                <input id="page_content" name="page_content" class="input" type="hidden"/>
                                <input id="form_name" name="form_name" class="input" type="hidden"/>
                                <button
                                    type="button"
                                    class="modal-default-button sgds-button is-secondary"
                                    @click="$emit('close')"
                                    >Cancel</button
                                >
                                <button
                                    type="submit"
                                    class="modal-default-button sgds-button is-primary"
                                    @click.prevent="submit"
                                    >Submit</button
                                >
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</script>

<form
    hidden
    name="edit-form"
    method="POST"
    data-netlify="true"
    data-netlify-honeypot="honeypot-field"
>
    <!-- Spam guard -->
    <input type="hidden" name="honeypot-field" value="edit-form"/>
    <input name="page_path" />
    <input name="page_title" />
    <input name="page_category" />
    <input name="page_content" />
    <input name="form_name" />
</form>

<script src="/assets/js/vue-editor-app.js" type="text/javascript"></script>
