---
title: Singapore Government Tech Stack
redirect_from:
- /singapore-government-tech-stack/
- /sgts/
layout: layout-page-sidenav
hide_side_nav: true

sgts_service_layer:
  analytics: null
  digital_identity:
    work_in_progress:
      - Authorise
      - Sign
  data_science:
    work_in_progress:
      - GovText
      - Fraud Detect
  data_transfer:
    work_in_progress:
      - Video Exchange
  communications:
    work_in_progress:
      - APEX Cloud
      - APEX Marketplace
sgts_base_layer:
  monitoring:
    planned:
      - Gov Cyber Sec Ops Centre
    work_in_progress:
      - Endpoint Det & Res
  runtime:
    work_in_progress:
  service_management:
    work_in_progress:
      - Developer Portal

---

<h2>Overview</h2>
<p>
  GovTech is developing the Singapore Government Tech Stack (SGTS) with a vision
  to modernise development practice across Whole-Of-Government (WOG) to help
  build secure systems that are responsive to constantly evolving citizens and
  business needs. To achieve this, we need to adopt a three-prong approach:
  <strong>People, Platform </strong>and <strong>Practice.</strong>
<ul>
  <li>People: We build the right capabilities and a growth mindset to adopt the
    technology practices in our development teams.</li>
  <li>Platform: We offer the right set of tools through SGTS for building high quality, secure systems.</li>
  <li>Practice: We offer guidance on how to use the tools to empower the developers.</li>
</ul>
<figure style="text-align: center">
  <img
    src="/assets/img/sgts/overview_sgts.png"
    alt="Fig 1: Three-prong approach: People, Platform and Practice" width="70%" height="70%"
  />
  <figcaption>Fig 1: Three-prong approach: People, Platform and Practice</figcaption>
</figure>
</p>
<p>
  SGTS products are built on principles of being developer-focused, driving automation, improving observability and auditability, ensuring compliance and security by design, exposing services via APIs and using native solutions.
</p>
<div class="col is-12-desktop is-12-tablet padding--sm">
  <h3>Key Objectives</h3>
  <p>
    SGTS aims to
  <ol>
    <li><strong>improve agility</strong> of app development and deployment by reducing the need for agencies to set up
      extensive digital
      infrastructure. It offers a more powerful development ecosystem with right tools that allows the Government and
      vendors build code efficiently.</li>
    <li><strong>improve quality and compliance</strong> to policy and cyber security standards by baking them into the
      development
      environment
      and finding vulnerabilities early.</li>
    <li><strong>lower the costs</strong> of development of digital services by using centrally managed common services
      offering economies
      of scale and
      reducing duplication.</li>
  </ol>
  </p>
</div>
<h3>What is SGTS?</h3>
<p>SGTS is a set of platform tools that streamlines and simplifies the development process and enables code reuse across
  WOG to build secure, high quality applications. SGTS has a 2-layer architecture where the <strong>Base Layer</strong> focuses on
  standardising development tools and environment and at the top, the <strong>Services Layer</strong> drives code reusability within
  WOG.</p>
<figure style="text-align: center">
  <img
    src="/assets/img/sgts/sgts-layers.png"
    alt="Fig 2: The different layers in SGTS." width="55%" height="55%"
  />
  <figcaption>Fig 2: The different layers in SGTS.</figcaption>
</figure>

<h3>Singapore Government Tech Stack (SGTS)</h3>
<div class="padding--bottom--sm">
  <section id="service-layer" class="sgds-section service-layer">
    <div id="service-layer-header" class="sgds-container is-fluid">
      <div class="row">
        <div class="col is-6-desktop is-4-tablet">
          <h3>Service Layer</h3>
        </div>
        <div id="legend" class="col is-6-desktop is-8-tablet legend">
            <ul class="margin--top--none">
              <li class="margin--top--none is-inline-block">Legend: </li>
              <li class="live margin--top--none is-inline-block">Live</li>
              <li class="planned margin--top--none is-inline-block">Planned</li>
              <li class="work_in_progress margin--top--none is-inline-block">Work in progress</li>
            </ul>
        </div>
      </div>
      <!-- Start of cards for each service layer-->
      <div class="card-grid-container sg-tech-stack">
        <!-- TODOs: An array of object to iterate through -->
        {% include sgts-service-layer-card.html category="analytics" header="Analytics" layer="services" card_type="sm" %}
        {% include sgts-service-layer-card.html category="design" header="Design" layer="services" card_type="sm" %}
        {% include sgts-service-layer-card.html category="digital_identity" header="Digital Identity" layer="services" card_type="sm" %}
        {% include sgts-service-layer-card.html category="iot" header="IoT" layer="services" card_type="sm" %}
        {% include sgts-service-layer-card.html category="data_science" header="Data Science" layer="services" card_type="sm" %}
        {% include sgts-service-layer-card.html category="data_transfer" header="Data Transfer" layer="services" card_type="sm" %}
        {% include sgts-service-layer-card.html category="payment" header="Payment" layer="services" card_type="sm" %}
        {% include sgts-service-layer-card.html category="productivity_&_utility" header="Productivity & Utility" layer="services" card_type="sm" %}
      </div>
      <!-- Start of Communtications-->
      <div class="row">
        <div class="col">
          <div class="card-grid-container sg-tech-stack is-paddingless">
            {% include sgts-service-layer-card.html category="communications" header="Communications" layer="services" card_type="lg" %}
          </div>
        </div>
      </div>
      <!-- End of Communtications-->
    </div>
  </section>
</div>

<div class="padding--top--sm">
  <!--base-->
  <section id="base-layer" class="sgds-section base-layer">
    <div id="base-layer-header" class="sgds-container is-fluid">
      <div class="row">
        <div class="col is-6-desktop is-4-tablet">
          <h3>Base Layer</h3>
        </div>
        <div id="legend" class="col is-6-desktop is-8-tablet legend is-flex is-flex-justify-fe ">
          <ul class="margin--top--none">
            <li class="margin--top--none is-inline-block">Legend: </li>
            <li class="live margin--top--none is-inline-block">Live</li>
            <li class="planned margin--top--none is-inline-block">Planned</li>
            <li class="work_in_progress margin--top--none is-inline-block">Work in progress</li>
          </ul>
        </div>
      </div>
      <!-- Start of cards for each base-->
      <div class="row">
        <div class="col">
          <div class="card-grid-container sg-tech-stack">
            {% include sgts-service-layer-card.html category="toolchain" header="Toolchain" layer="base" card_type="sm" %}
            {% include sgts-service-layer-card.html category="runtime" header="Runtime" layer="base" card_type="sm" %}
            {% include sgts-service-layer-card.html category="monitoring" header="Monitoring" layer="base" card_type="sm" %}
          </div>
        </div>
      </div>
      <!-- End of cards for each base-->
      <!-- Start of service managment-->
      <div class="row">
        <div class="col">
          <div class="card-grid-container sg-tech-stack is-paddingless">
            {% include sgts-service-layer-card.html category="service_management" header="Service Management" layer="base" card_type="lg"
            %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="hosting-layer" class="sgds-section hosting-layer">
      <div id="hosting-layer-header" class="sgds-container is-fluid">
        <div class="row margin--bottom--none">
          <div class="col is-6-desktop is-4-tablet">
            <h3>Hosting</h3>
          </div>
        </div>
        <div class="row is-paddingless is-marginless is-hidden-mobile is-hidden-tablet-only">
            <div class="col is-paddingless title-col"><p class="has-text-weight-bold">WoG Services</p></div>
        </div>
        <div class="row is-paddingless is-marginless host-rows">
          <div class="col is-2-desktop is-paddingless host-box is-flex" >
            <div class="col width"><p class="has-text-weight-bold">On premise</p></div>
          </div>
          <div class="col is-2-desktop is-paddingless host-box sub-host-rows is-flex">
            <div class="col width">
              <!--category should be sgts_collection_group, header is equal to sgts_title, layer is equal to sgts_layer_group-->
              {% include sgts-host-layer-items.html category="infrastructure_and_hosting" header="Gov on Commercial Cloud" layer="host" %}
            </div>
          </div>
          <div class="is-paddingless is-marginless is-hidden-desktop title-col">
              <p class="has-text-weight-bold">WoG Services</p>
          </div>
          <div class="col is-8-desktop is-6-tablet is-paddingless host-box sub-host-rows is-flex">
            <div class="col is-2-desktop width"><p class="has-text-weight-bold">WoG (A) AD</p></div>
            <div class="col is-5-desktop width"><p class="has-text-weight-bold">Priviledged Access</p></div>
            <div class="col is-5-desktop width"><p class="has-text-weight-bold">Secrets Manager</p></div>
           </div>
        </div>
      </div>
  </section>
</div>
<h3>Success Stories</h3>
<p>More than 200 systems from 40 agencies have already reaped the benefits of SGTS by implementing their services or applications
  on cloud. These include time and cost savings allowing them to focus on the services and applications instead of
  building cloud architectures.
<ul>
  <li><a href="https://www.youtube.com/watch?v=cPw6l7-CAjw" target="_blank">ICA & PA’s Digital transformation journey with SGTS</a></li>
  <li><a href="https://docs.developer.tech.gov.sg/docs/container-stack-user-guide/#/information/case-studies/moe/" target="_blank">MOE’s Digital Office</a></li>
</ul>
</p>
<div>
</div>
