---
title: STACK 2020
layout: layout-page-sidenav
description: >
  STACK is GovTech’s flagship conference and the largest government-led developers
  event in Singapore that connects government, industry and the tech community.
video_list_layout: 'stack-2020-video-list.html'
---

<h2>STACK 2020</h2>
<p>
  Thank you for joining us at STACK 2020. Missed any sessions? You can watch the video replays below
</p>

<div class="sgds-tabs">
  <ul class="no-margin" role="tablist">
    <li class="is-active">
        <a data-tab="#tab1" role="tab" aria-selected="true" aria-controls="tab1">
          Opening & Keynotes
        </a>
    </li>
    <li>
        <a data-tab="#tab2" role="tab" aria-selected="false" aria-controls="tab2">
          Cloud
        </a>
    </li>
    <li>
        <a data-tab="#tab3" role="tab" aria-selected="false" aria-controls="tab3">
          App
        </a>
    </li>
    <li>
      <a data-tab="#tab4" role="tab" aria-selected="false" aria-controls="tab4">
        Tech Culture
      </a>
    </li>
    <li>
      <a data-tab="#tab5" role="tab" aria-selected="false" aria-controls="tab5">
        Covid-19 Tech
      </a>
    </li>
  </ul>
</div>
<div class="row" id="tab1">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Opening, Keynote, Panel - Tech Culture" %}
  {% endif %}
</div>
<div class="row" id="tab2">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Cloud - Preamble, Cloud - Talk, Cloud - VOD" %}
  {% endif %}
</div>
<div class="row" id="tab3">
  {% if page.video_list_layout %}
  {% include_relative {{ page.video_list_layout }} type="App - Preamble, App - Talk, App - Live Chat, App - VOD" %}
{% endif %}
</div>
<div class="row" id="tab4">
  {% if page.video_list_layout %}
  {% include_relative {{ page.video_list_layout }} type="Tech Culture - Preamble, Tech Culture - Talk, Tech Culture - VOD" %}
{% endif %}
</div>
<div class="row" id="tab5">
  {% if page.video_list_layout %}
  {% include_relative {{ page.video_list_layout }} type="COVID-19 Tech -  Preamble, COVID-19 Tech - Talk, COVID-19 Tech - Live Chat" %}
{% endif %}
</div>
