---
title: STACK-X Data Science Connect
layout: layout-page-sidenav
description: >
  Stack-X Cloud is a one-day conference for developers and IT leaders to learn about the lates enhancements for GCC with
  practical lessons on cloud adoption.
_data: events-nav
multi_level_nav: true
sub_collection_render: true
---

<div id="top">
  <h2>7 July 2022</h2>
  <p>
    <span class="sgds-icon sgds-icon-camera has-text-dark" role="img" aria-label="iconName"></span> Virtual Conference:
    Zoom Webinar
  </p>
</div>

<p></p>

<h4>Keynotes</h4>

{% include agenda-app.html _data="stackx2022dsc"
category="Keynote" %}

<p><a href="#top">Back to the top</a></p>

<br />

<h3>Afternoon Tracks (With Live Q&A)</h3>

<p>
  In the afternoon, we have an exciting line-up of speakers across 3 concurrent tracks. These tracks will be led by
  technical experts on topics such as Data Transformation, Data Products, Data Engineering, AI Applications and Video
  Analytics.

  Each track will offer attendees the opportunity to interact with speakers through live Q&A sessions. Find out more
  about each track below.
</p>

<h4>Track 1: Data Science & Data Transformation</h4>

<p>Join this track to learn how Government agencies are tackling challenges when it comes to Data Science and Data
  Transformation at the organisational level. Speakers will be sharing on some of the best practices they have adopted
  as transformation enablers.</p>

{% include agenda-app.html _data="stackx2022dsc"
category="Data Transformation" %}

<p><a href="#top">Back to the top</a></p>

<br />

<h4>Track 2: Data Products & Data Engineering</h4>

<p>
  Join this track if you are interested to know how the Government is partnering with industry to democratise the use
  of data for public good. Speakers will share on the suite of central platform, data infrastructure and engineering
  capabilities they have developed in accordance with data governance policies.</p>

{% include agenda-app.html _data="stackx2022dsc"
category="Data Engineering" %}

<p><a href="#top">Back to the top</a></p>

<br />

<h4>Track 3: AI Applications and Video Analytics Track</h4>

<p>
  Join this track to find out about different AI approaches that private companies and government have adopted, and
  discover the range of AI applications and solutions available.
</p>

{% include agenda-app.html _data="stackx2022dsc"
category="Video Analytics" %}

<p><a href="#top">Back to the top</a></p>
