.card-grid-container{
    display:grid;
    grid-gap: 2rem;
    align-items: center;
    padding: 1rem 0;
    @include until($tablet){
        grid-gap: 1rem;
    }
}


.row.is-padding-large .col {
    padding: 1.5rem;
}

.open-source .col {
    display: flex;
}