---
title: Products
layout: layout-page-sidenav
redirect_from:
    - /products/
    - /products/collections
    - /products/categories
---
<!-- <img src="/assets/img/products/collections.svg" style="margin: 0px;"/> -->
<p id="collections">Discover projects to leverage on to build the next digital service for Singapore</p>
<!-- <a href="/products/all-products" class="sgds-link-icon" style="text-decoration: none;">

    <i class="sgds-icon sgds-icon-grid" aria-hidden="true"></i>
    View all products
</a> -->
<h2>Explore products by collection</h2>
<p>Offerings to help to facilitate the quick and secure building of Government digital services</p>

{% assign url_middle_collection = "collections/" %}
{% assign img_src = "/assets/img/products/collections-card.svg" %}
{% assign img_label = "COLLECTIONS" %}
{% include site-section-listing.html sectionName='products-collections' is_header_group_variant=true url_middle=url_middle_collection  img_src=img_src img_label=img_label %}

<hr></hr>
<h2 id="categories">Explore products by category</h2>
<p>Offerings to help to facilitate the quick and secure building of Government digital services</p>

{% assign url_middle_categories = "categories/" %}
{% include site-section-listing.html sectionName='products-categories' url_middle=url_middle_categories %}