---
title: Responding to COVID-19 with Tech
layout: layout-page
---

<p>
  Here's how you can help the Singapore Government in its digital efforts to
  combat the COVID-19 pandemic.
</p>

<hr />

<h2>
  <a
    href="http://go.gov.sg/covid19-ideasprint"
    rel="noopener noreferrer nofollow"
    ><u>COVID-19 Idea Sprint - Build &amp; Ideate with Us!</u></a
  >
</h2>

<img
  src="//d3uzjhjcl6zsbz.cloudfront.net/idea_sprint_poster.png"
  alt="idea sprint poster"
  class="idea-sprint-poster"
  align="right"
/>

<p>
  Launching in conjunction with GovTech’s 
  <a href="https://go.gov.sg/meetup">
    Hack the Crisis: Crowdsourcing ideas for digital solutions to 
    curb the spread of COVID-19 webinar
  </a>
  held on 8 May,
  GovTech is hosting a COVID-19 Idea Sprint between 8 - 17 May to crowdsource ideas and
  prototypes in order to address other COVID-19 related challenges faced across
  the Singapore Government.&nbsp;
</p>
<p>
  Amongst other problem statements to be shared in future webinars, we will be
  looking for ideas on the following topics addressed in the Hack the Crisis
  Webinar:
</p>
<ol>
  <li>
    <p>
      The Government is finding ways to quantify the benefits and costs to
      lessening circuit breaker measures and opening the economy. We would like
      to hear volunteers’ suggestions on models or optimisations (with
      parameters) that could guide policymakers in making decisions.
    </p>
  </li>
  <li>
    <p>
      How might we improve the contact tracing process to identify patterns in
      linked / unlinked cases so that we may generate the best quarantine yield
      possible in the shortest time and with the smallest manpower required
      through the use of technology and data?
    </p>
    <p>
      For the purpose of this problem statement, a close contact is defined as a
      person who has been in close proximity with an infected case within 2
      metres and sustained for 30 minutes or more.
    </p>
  </li>
</ol>
<p>
  Additional problem statements and webinar sessions will be shared next week on
  the COVID-19 Idea Sprint page. Go to
  <a
    href="https://go.gov.sg/covid19-ideasprint"
    rel="noopener noreferrer nofollow"
    ><u>https://go.gov.sg/covid19-ideasprint</u></a
  >
  to take part.
</p>

<hr />

<h2>Be a volunteer</h2>

<p>
  The Government has progressively built up the digital infrastructure and
  engineering capabilities as the foundation of our Smart Nation. This has
  enabled us to respond decisively and swiftly to the COVID-19 outbreak with a
  suite of digital tools to help disseminate timely and accurate information to
  Singaporeans and to enable our public agencies to better manage the crisis.
</p>
<p>
  Refer below for more details about some products we’ve developed thus far, and
  the volunteering opportunities in which you can lend a helping hand.
</p>

<div class="row is-multiline">
  {% for project in site.covid-volunteering %}
    {% assign id = project.id | split: "/" | last %}
    {% if id != "index" %}
    <div class="col is-6-tablet is-4-desktop is-flex">
      <div class="sgds-card">
        <div class="sgds-card-content">
          <h3>{{ project.title }}</h3>
          <p>{{ project.short_description | markdownify }}</p>
        </div>
        <div class="sgds-card-footer">
          {% unless project.details_link == false %}
          <a href="{{ project.url }}" class="sgds-card-footer-item"
            >Find out more</a
          >
          {% endunless %}
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

<h2>Other volunteering opportunities</h2>
<p>
  If you would like to volunteer outside of the projects listed above, please
  fill in this form <a href="https://go.gov.sg/govtech-volunteers">here.</a>
</p>

<h2>Stay up to date</h2>
<p>
  STACK-X: Meetup is a platform for the tech community to join GovTech to
  discuss trending topics such as Cloud Architecture, Agile and Machine Learning
  and now, using tech to fight COVID-19. Join our meetup.com page to stay
  updated on upcoming STACK-X: Meetups:
  <a href="https://go.gov.sg/meetup" rel="noopener noreferrer nofollow"
    ><u>https://go.gov.sg/meetup</u></a
  >.
</p>
