---
title: Responding to COVID-19 with Tech
layout: layout-page
---

<p>
  Here's how you can help the Singapore Government in its digital efforts to
  combat the COVID-19 pandemic.
</p>

<hr />

<h3>Have a solution?</h3>

<p>Here are two problem statements that we would like your inputs on:</p>

<ol>
  <li>
    <p>
      <strong>
        The Government is finding ways to quantify the benefits and costs to
        lessening circuit breaker measures and opening the economy. We would
        like to hear volunteers suggestions on models or optimisations (with
        parameters) that could guide policymakers in making decisions.
      </strong>
    </p>
  </li>
  <li>
    <p>
      <strong>
        How might we improve the contact tracing process to identify patterns in
        linked / unlinked cases so that we may generate the best qurantine yield
        possible in the shortest time and with the smallest manpower required
        through the use of technology and data?
      </strong>
    </p>
    <p>
      <strong>
        For the purpose of this problem
        statement, a close contact is defined as a person who has been in close
        proximity with an infected case within 2 metres and sustained for 30 minutes
        or more.
      </strong>
    </p>
  </li>
</ol>

<hr />

<h3>Be a volunteer</h3>

<p>
  The Government has progressively built up the digital infrastructure and
  engineering capabilities as the foundation of our Smart Nation. This has
  enabled us to respond decisively and swiftly to the COVID-19 outbreak with a
  suite of digital tools to help disseminate timely and accurate information to
  Singaporeans and to enable our public agencies to better manage the crisis.
</p>
<p>
  Refer below for more details about some products we’ve developed thus far, and
  the volunteering opportunities in which you can lend a helping hand.
</p>

<div class="row is-multiline">
  {% for project in site.covid-volunteering %}
    {% assign id = project.id | split: "/" | last %}
    {% if id != "index" %}
    <div class="col is-6-tablet is-4-desktop is-flex">
      <div class="sgds-card">
        <div class="sgds-card-content">
          <h4>{{ project.title }}</h4>
          <p>{{ project.short_description | markdownify }}</p>
        </div>
        <div class="sgds-card-footer">
          {% unless project.details_link == false %}
          <a href="{{ project.url }}" class="sgds-card-footer-item"
            >Find out more</a
          >
          {% endunless %}
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

<h3>Other volunteering opportunities</h3>
<p>
  If you would like to volunteer outside of the projects listed above, please
  fill in this form <a href="https://go.gov.sg/govtech-volunteers">here.</a>
</p>

<h4><a href="https://open.gov.sg">Open Government Products</a> Projects</h4>
<p>
  Information on OGP projects as well as help needed can be found here:
  <a href="https://go.gov.sg/ogp-covid-projects"
    >https://go.gov.sg/ogp-covid-projects</a
  >. For all who are interested to volunteer for OGP projects, please join their
  Telegram channel at:
  <a href="https://t.me/joinchat/KJdB1xkITtuof0ZWTqGZAA"
    >https://t.me/joinchat/KJdB1xkITtuof0ZWTqGZAA</a
  >
</p>
<h5>Idea Sprint</h5>
<p>
  Beyond these opportunities, OGP is also running a COVID-19 Idea Sprint between
  8 - 17 May to crowdsource ideas and prototypes in order to address other
  COVID-19 related challenges faced across the Singapore Government.
  <a href="https://govsg.devpost.com">Click here</a>
  to take part.
</p>

<h3>Stay up to date</h3>
<p>
  STACK-X: Meetup is a platform for the tech community to join GovTech to
  discuss trending topics such as Cloud Architecture, Agile and Machine Learning
  and now, using tech to fight COVID-19. Join our meetup.com page to stay
  updated on upcoming STACK-X: Meetups:
  <a href="https://go.gov.sg/meetup" rel="noopener noreferrer nofollow"
    ><u>https://go.gov.sg/meetup</u></a
  >.
</p>
