/*Custom styling for editable page*/
[v-cloak] {
    display: none;
}

.ql-container {
    font-family: "Source Sans Pro", BlinkMacSystemFont, -apple-system, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    min-height: 60vh;
}

.modal-container h5,
.article h5,
.content h5 {
    font-size: 2rem !important;
    font-weight: 600 !important;
    margin-bottom: 1rem !important;
}

.modal-container h6,
.article h6,
.content h6 {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    margin-bottom: 1rem !important;
}

.modal-container h5:nth-child(n+2),
.article h5:nth-child(n+2),
.content h5:nth-child(n+2) {
    border-top: 1px solid #d6d6d6;
    padding-top: 2rem !important;
    margin-top: 2rem !important;
}

.modal-container p,
.article p,
.content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

hr {
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
}