[v-cloak] {
    display: none;
}

/*Custom styling for editable page*/
.ql-editor {
    font-family: "Source Sans Pro", BlinkMacSystemFont, -apple-system, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.ql-editor h5,
.article h5 {
    font-size: 2rem !important;
    font-weight: 600 !important;
    margin-bottom: 1rem !important;
}

.ql-editor h5:nth-child(n+2),
.article h5:nth-child(n+2) {
    border-top: 1px solid #d6d6d6;
    padding-top: 1rem !important;
    margin-top: 1rem !important;
}

.ql-editor p,
.article p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}