---
title: COVID-19 Volunteering Opportunities
layout: layout-page-sidenav
description: >  
  Volunteer with the Government to develop technology and digital solutions against COVID-19.
---

<h2>Overviewr</h2>

<p>
  The Government has progressively built up our digital infrastructure and engineering capabilities as the foundation of our <a href="https://www.smartnation.gov.sg/">Smart Nation.</a>This has enabled us to respond decisively and swiftly to the COVID-19 outbreak with a suite of digital solutions. More information on our COVID-19 digital solutions and volunteering opportunities are as shown below.
</p>

<div class="card-grid-container grid-25rem">
  {% for project in site.communities %}
    {% assign id = project.id | split: "/" | last %}
    {% if id != "index" and project.path contains "volunteering-opportunities" %}
    <div class="grid-item">
      <div class="sgds-card">
        <div class="sgds-card-content">
          <h3>{{ project.title }}</h3>
          <p>{{ project.short_description | markdownify }}</p>
        </div>
        <div class="sgds-card-footer">
          {% unless project.details_link == false %}
          <a href="{{ project.url }}" class="sgds-card-footer-item"
            >Find out more</a
          >
          {% endunless %}
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

<h2>Volunteering Opportunities</h2>
<p>
  For volunteer opportunities outside of the services mentioned above, fill up this <a href="https://form.gov.sg/#!/5e7bfb7b34d8b200113b78c3">form.</a>
</p>

<h2>Additional Resources</h2>
<p>
  STACK-X is a platform for the tech community to join GovTech in discussing trending topics such as Cloud Architecture, Agile and Machine Learning. Join us as we discuss how technology can be used to fight COVID-19. Click
  <a href="https://go.gov.sg/meetup" rel="noopener noreferrer nofollow"
    ><u>here</u></a
  > 
  to join our Meetup group.
</p>
<p>
  GovTech’s COVID-19 Idea Sprint is an opportunity for the public to volunteer their ideas and expertise to help combat COVID-19. Although Idea Sprint is not open for participation now, the recording of its Demo Day (Saturday, 23 May) can be found <a href="http://go.gov.sg/demodayvideo" rel="noopener noreferrer nofollow"
    ><u>here</u></a
  >
  and all submissions can be found <a href="https://govsg.devpost.com/" rel="noopener noreferrer nofollow"
    ><u>here</u></a
  > 
</p>
