---
title: Analytics
layout: layout-sidenav
permalink: /products/analytics/
category: Products
breadcrumb: Analytics
---
<h5>Analytics</h5>
<div class="row">
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/analytics/wogaa/">
            <div class="sgds-card-content">
                <h6>WOGAA</h6>
                <p>Provides a set of common metrics and measurements to enable public agencies to conduct real-time monitoring.</p>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/analytics/sentimeter/">
            <div class="sgds-card-content">
                <h6>Sentimeter</h6>
                <p>Tool to measure user satisfaction when interacting with government websites.</p>
            </div>
        </a>
    </div>
</div>