---
title: Business Application
layout: layout-sidenav
permalink: /products/business-application/
category: Products
breadcrumb: Business Application
---
<h5>Business Application</h5>
<div class="row">
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/business-application/formsg/">
            <div class="sgds-card-content">
                <h6>FormSG</h6>
                <small>Sign up with your government email, and build your form in minutes. It's free and no approval is required.</small>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/business-application/opendoc/">
            <div class="sgds-card-content">
                <h6>OpenDoc</h6>
                <small>A simple and easy way to make documents easily searchable and available to the public.</small>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/business-application/gosg/">
            <div class="sgds-card-content">
                <h6>GoSG</h6>
                <small>The official link shortener for the Singapore government.</small>
            </div>
        </a>
    </div>
</div>