---
title: Chat Bot
layout: layout-sidenav
permalink: /products/chatbot/
category: Products
breadcrumb: Chat Bot
---
<h5>Chat Bot</h5>
<div class="row">
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/chatbot/ask-jamie/">
            <div class="sgds-card-content">
                <h6>Ask Jamie</h6>
                <small>Virtual assistant (VA) that can be implemented on agency websites and trained to be able to answer queries within specific domains.</small>
            </div>
        </a>
    </div>
</div>