---
title: CI/CD/CT
layout: layout-sidenav
permalink: /products/ci-cd-ct/
category: Products
breadcrumb: CI/CD/CT
---
<h5>CI/CD/CT</h5>
<div class="row">
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/ci-cd-ct/ship/">
            <div class="sgds-card-content">
                <h6>SHIP</h6>
                <small>Provides managed services to enable teams to build applications rapidly without having to worry about hardware costs and operations overheads of maintaining these services.</small>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/ci-cd-ct/hats/">
            <div class="sgds-card-content">
                <h6>HATS</h6>
                <small>A functional test automation tool for web and mobile applications.</small>
            </div>
        </a>
    </div>
</div>