---
title: Content Management
layout: layout-sidenav
permalink: /products/content-management/
category: Products
breadcrumb: Content Management
---
<h5>Content Management</h5>
<div class="row">
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/content-management/isomer/">
            <div class="sgds-card-content">
                <h6>Isomer</h6>
                <small>Provides template for website with hosting and is compliant to applicable clauses in the Instruction Manual 8 and Digital Service Standards.</small>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/content-management/content-website-platform/">
            <div class="sgds-card-content">
                <h6>Content Website Platform</h6>
                <small>A common secured environment based on a robust and controlled platform which provides a suite of standardised software for hosting content-based websites.</small>
            </div>
        </a>
    </div>
</div>