---
title: Data Sharing
layout: layout-sidenav
permalink: /products/data-sharing/
category: Products
breadcrumb: Data Sharing
---
<h5>Data Sharing</h5>
<div class="row">
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/data-sharing/data-gov-sg/">
            <div class="sgds-card-content">
                <h6>Data.Gov.SG</h6>
                <small>The government's one-stop portal to its publicly-available datasets from 70 public agencies.</small>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/data-sharing/ndi-api/">
            <div class="sgds-card-content">
                <h6>NDI-API</h6>
                <small>Integrate your apps with National Digital Identity APIs to build an efficient, secure and transparent ecosystem that saves time and money.</small>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/data-sharing/apex/">
            <div class="sgds-card-content">
                <h6>APEX</h6>
                <small>Centrally manage and monitor the security of all the APIs used across agencies.</small>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/data-sharing/onemap/">
            <div class="sgds-card-content">
                <h6>OneMap</h6>
                <small>Use OneMap’s extensive set of APIs to mash up your own data, search for addresses and do much more with our base maps.</small>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/data-sharing/land-transport-data-mall/">
            <div class="sgds-card-content">
                <h6>Land Transport Data Mall</h6>
                <small>LTA publishes a wide variety of land transport-related datasets (static and dynamic / real-time).</small>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/data-sharing/iras-api/">
            <div class="sgds-card-content">
                <h6>IRAS API</h6>
                <small>Combines industry expertise with innovative technology to deliver digital transformation and to optimise tax-related services and transactions.</small>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/data-sharing/mas-api/">
            <div class="sgds-card-content">
                <h6>MAS API</h6>
                <small>Enables you to extract the relevant datasets on the MAS website for your applications and systems in a seamless manner.</small>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/data-sharing/networked-trade-platform/">
            <div class="sgds-card-content">
                <h6>Networked Trade Platform</h6>
                <small>Explore data tools to manage your documents or discover value-added services for your business today.</small>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/data-sharing/enterprise-data-hub/">
            <div class="sgds-card-content">
                <h6>Enterprise Data Hub</h6>
                <small>An inter-agency data-sharing platform that provides public officers with easy access to verified, identifiable business data.</small>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/data-sharing/singstat-table-builder/">
            <div class="sgds-card-content">
                <h6>SingStat Table Builder</h6>
                <small>Contains statistical data series from 60 public sector agencies providing a comprehensive statistical view of Singapore’s economic and socio-demographic characteristics.</small>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="/products/data-sharing/ura-space/">
            <div class="sgds-card-content">
                <h6>URA Space</h6>
                <small>URA publishes URA related data for public use and is available for download for the creation, development and testing of innovative applications by third party.</small>
            </div>
        </a>
    </div>
</div>