---
title: Hosting
layout: layout-sidenav
permalink: /products/hosting/
category: Products
breadcrumb: Hosting
---
<h5>Hosting</h5>
<div class="row">
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="#" onclick="location.href='/products/hosting/government-commercial-cloud/';">
            <div class="sgds-card-content">
                <h6>Government Commercial Cloud</h6>
                <p>Designed to manage all the resources hosted on the commercial service providers, in the likes of Amazon Web Services (AWS), Microsoft Azure and Google Cloud Platform.</p>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="#" onclick="location.href='/products/hosting/government-private-cloud/';">
            <div class="sgds-card-content">
                <h6>Government Private Cloud</h6>
                <p>Designed to manage more sensitive workloads.</p>
            </div>
        </a>
    </div>
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="#" onclick="location.href='/products/hosting/nectar/';">
            <div class="sgds-card-content">
                <h6>NECTAR</h6>
                <p>Simplifies and speeds up the deployment of digital services for government agencies.</p>
            </div>
        </a>
    </div>
</div>