---
title: Security
layout: layout-sidenav
permalink: /products/security/
category: Products
breadcrumb: Security
---
<h5>Security</h5>
<div class="row margin--bottom--lg">
    <div class="col is-4 is-flex">
        <a class="sgds-card sgds-card-button" href="#" onclick="location.href='/products/security/gitsir/';">
            <div class="sgds-card-content">
                <h6>GITSIR</h6>
                <p>Publishes alerts, advisories and directives on security vulnerabilities and threats, and highlight cybersecurity best practices to address the latest and upcoming cyber threats.</p>
            </div>
        </a>
    </div>
</div>