---
title: GovBuy
layout: layout-page-sidenav
description: |
  GovBuy is an initiative from the Government to offer engineering, design or
  writing gigs to Singapore citizens and Permanent Residents.
---

<h2>What is GovBuy?</h2>
<p>
  GovBuy is a government-run gig platform that leverages the marketplace model
  to make it easy for freelance specialists to connect to government projects.
</p>

<div class="gigs-actions row">
  <div class="col">
    <p>
      <strong>
        <a class="sgds-button is-primary" href="#about">About GovBuy</a>
      </strong>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>
        <a class="sgds-button is-primary" href="#how-it-works">How it works</a>
      </strong>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>
        <a class="sgds-button is-primary" href="#enquiries">Enquiries</a>
      </strong>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>
        <a class="sgds-button is-primary" href="terms-of-use">Terms of Use</a>
      </strong>
    </p>
  </div>
</div>

<h2>Available gigs</h2>
<div class="row is-multiline">
  {% for gig in site.data.gigs %}
  <div class="col is-6 is-flex">
    {% include gig.html
      title=gig.title skills=gig.skills
      posted=gig.posted closing=gig.closing duration=gig.duration offer=gig.offer
      open=gig.open
    %}
  </div>
  {% endfor %}
</div>

<h3 id="about">About GovBuy</h3>
<p>
  This is a pilot of the GovBuy platform and we welcome bids from anyone
  who is interested in co-creating products and services for citizens and businesses
  with government agencies.
</p>
<h3 id="how-it-works">How it works</h3>
<p>
  <img src="//d3uzjhjcl6zsbz.cloudfront.net/govbuy_flow.jpg" alt="govbuy flowchart">
</p>

<h3 id="enquiries">Enquiries</h3>
<p>
  Further enquiries about GovBuy can be made at
  <a href="mailto:TMO@tech.gov.sg">TMO@tech.gov.sg</a>.
</p>
