.back-to-the-top-button {
  position: fixed;
  right: 5%;
  bottom: 5%;
  border-radius: 100%;
  color: white;
  background-color: #0161AE;
  padding: 15px;
  border: none;
  cursor: pointer;
  z-index: 99;
  opacity: 100%;
  transition: opacity 0.5s;

  &-hidden {
    opacity: 0%;
  }

  @media screen and (max-width: 768px) {
    right: 7.5%;
    bottom: 7.5%;
  }
}

.back-to-the-top-button:hover {
  background-color: #2379BE;
}
