@use "../mixins/sidenav";

.sidenav-container {
  display: flex;
  align-items: flex-start;
}

.sidenav {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  ul.sgds-menu-list {
    margin: 0;
  }
  ul.second-level-nav-div {
    margin: 0;
    list-style: none;
  }
}

.single-level-nav {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
}

.mobile-single-level-nav {
  @include sidenav.mobile-side-nav-mixin($single-level-nav: true) {
    &__section {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #f5f5f5;
      font-weight: normal;

      &-header {
        padding-bottom: 10px;
      }
    }
  }
}

.mobile-sidenav {
  @include sidenav.mobile-side-nav-mixin($single-level-nav: false)
}

.sgds-menu-list a {
  color: $body-color;
}
