---
title: SupplyAlly - Distribution Made Simple
layout: layout-page-sidenav
category: Digital Solutions to Address COVID-19
sub_collection_render: true
single_level_nav: true
_data: single-level-nav
redirect_from:
    - /products/categories/digital-solutions-to-address-covid-19/supplyally/
    - /products/categories/digital-solutions-to-address-covid-19/supplyally.html
    - /technologies/digital-solutions-to-address-covid-19/supplyally/
    - /technologies/digital-solutions-to-address-covid-19/supplyally.html
description: >
  SupplyAlly is a mobile app to facilitate nationwide logistics distributions during the COVID-19 pandemic.
bios:
  - name: Patricia Zhao, Product Manager
    img_src: supplyally-pat-zhao.png
    desc: |
      Pat leads the team in developing solutions that help multiple Government agencies and non-profit partners in their distribution programmes.

  - name: Wynn Chen, Software Engineer
    img_src: supplyally-wynn.png
    desc: |
      Wynn doesn’t mind developing and kick-starting projects that he might be unfamiliar with. He likes spending his time cafe hopping and reflecting.

  - name: Satoshi Hayashi, Delivery Manager
    img_src: supplyally-satoshi.png
    desc: |
      Satoshi works with the team to achieve smooth delivery of the various product rollouts.

  - name: Yong Jia Jie, Software Engineer
    img_src: supplyally-jiajie.png
    desc: |
      Jia Jie is interested in learning new things and developing solutions that are extensible and efficient. He is a lover of keyboards and keyboard-related items.

  - name: Auron Siow, Software/Quality Engineer
    img_src: supplyally-auron.png
    desc: |
      Auron contributes to both development and quality aspects of product building. He is able to switch between the two roles to help the team meet its goals.

  - name: Immanuella (Imma) Lim, Software Engineer
    img_src: supplyally-immanuella.png
    desc: |
     Imma likes to build stuff and learn how to create better solutions. She has a knack for teaching and is often seen sharing her knowledge with the team.

  - name: Koh Kai Hong, DevOps Engineer
    img_src: supplyally-kaihong.png
    desc: |
      Kai Hong is a cloud-native citizen who is tasked with building castles in the sky. He enjoys developing reliable and scalable solutions for smooth operations.

  - name: Dalson Tan, Software Engineer
    img_src: supplyally-dalson.png
    desc: |
      Dalson aspires to develop creative, high-quality, and scalable solutions to solve real-world problems. He enjoys working on projects that support social causes.

  - name: Ryan Goh, DevOps Engineer
    img_src: supplyally-ryan.png
    desc: |
      Ryan is interested in reliably and frequently getting code to product. He is also interested in using cloud infrastructure to build scalable and reliable systems.

  - name: Dickson Tan, Software Engineer
    img_src: supplyally-dickson.png
    desc: |
      Dickson loves building software that delight users. His day doesn't begin before his morning latte.

  - name: Eida Tan, UX Designer
    img_src: supplyally-eida.png
    desc: |
      As a young child, Eida had a strong affection for Playmobil toys. She would role-play with them in various settings, from immigration checkpoints to restaurants. These days she gets to facilitate and work with others to improve users’ experience across different touchpoints.

  - name: Visalakshi Chidambaram, Quality Engineer
    img_src: supplyally-visa.png
    desc: |
      Visalakshi loves to challenge a piece of working code to find bugs and crash the system before it reaches the end-user, so that they can have a smooth experience.

  - name: Raphael Tan, Software Engineer
    img_src: supplyally-raphael.png
    desc: |
      Raphael likes to work on stuff that have applicable benefits for others and himself.

  - name: Yee Sheng Jie, Quality Engineer
    img_src: supplyally-shengjie.png
    desc: |
      Sheng Jie lives through his motto 'Work hard, Play hard'. He is always ready to resolve defects and kill bugs to ensure the best quality of the product. He is also interested in language translation and improving his mother tongue language by writing Chinese novel during his free time.

  - name: Adam Chee, Software Engineer
    img_src: supplyally-adam.png
    desc: |
      Adam strives to create elegant, user-centric solutions that deliver good impact.
---

<h2>Overview</h2>

<p>
  The COVID-19 pandemic produced an urgent need to address logistical challenges on a national scale. For example, the distribution of reusable face masks to all Singapore residents created a logistical challenge to track collection quotas and to manage a flexible pool of volunteers.
</p>
<p>
  In response to these urgent logistical challenges, GovTech’s Government Digital Services (GDS) team developed SupplyAlly, a mobile app to facilitate nationwide logistics distributions.
</p>

<h2>What is SupplyAlly?</h2>

<p>
  SupplyAlly is a mobile app that facilitates logistics distribution. Its key features include:
</p>

<b>Seamless registration</b>: SupplyAlly does not require volunteers to sign up with personal details. Instead, volunteers are issued a QR code to be scanned using the app on their device. After which, they are authorised to use the app with no further details required. The QR codes are permanently affiliated with the user’s device, meaning that they cannot be used for unauthorised logins even if someone else obtains them.

<br><br><b>Secure transaction of supplies</b>: Volunteers can scan the identity cards of residents to verify their eligibility and log the transaction. No personally identifiable information is stored, only a time-stamped digital signature that prevents the same barcode from being used for a duplicate collection.

<br><br><b>Supports various redemption methods</b>: Eligible individuals can collect items on behalf of their household as well. Items distributed to beneficiaries are also trackable.

<br><br><b>Multipurpose utility</b>: SupplyAlly can be used for a variety of distribution purposes:
<ul>
  <li>
    <p>
      <strong>Support for various environments</strong>: As a one-stop solution that connects to multiple environments for different policies and distribution initiatives, SupplyAlly eliminates logistical issues.
    </p>
  </li>
  <li>
    <p>
      <strong>Development agility</strong>: With over-the-air updates and Continuous Integration (CI) setups, the team can push fully developed features to users within 30 minutes. This drastically cuts turnaround time.
    </p>
  </li>
</ul>

<b>Built to handle volume</b>: The app’s lightweight build and minimal integrations allows it to process transactions with great speed - up to 4,500 transactions per second, with a 50-millisecond response latency. This is necessary to keep up with the needs of an evolving 21st century pandemic such as COVID-19.

<figure style="text-align: center">
  <img
    src="/assets/img/supplyally-fig1.png" width="20%" height="20%" 
    alt="Fig 1: QR codes enables quick volunteer registration"
  />
  <figcaption>Fig 1: QR codes enables quick volunteer registration</figcaption>
</figure>

<figure style="text-align: center">
  <img
    src="/assets/img/supplyally-fig2.png" width="20%" height="20%" 
    alt="Fig 2: Volunteers can scan residents’ identification cards for quick verification of the transaction"
  />
  <figcaption>Fig 2: Volunteers can scan residents’ identification cards for quick verification of the transaction</figcaption>
</figure>
<p>
For more detailed information about SupplyAlly, visit the product site <a href="https://www.supplyally.gov.sg/" target="_blank">here</a>.
</p>

<h2>Why Should SupplyAlly be Adopted?</h2>

<p>
  Automating logistic distributions prevents wastage of resources that can occur because of a lapse in the distribution system. This prevents duplicated distributions and optimises volunteers’ efforts. SupplyAlly provides convenience to citizens while maintaining operational flexibility to different points and modes of distribution.
</p>

<h2>How Do You Use SupplyAlly?</h2>

<p>
  For volunteers:
</p>
<ol>
  <li>
    <p>
      Login to the SupplyAlly mobile app with your QR code, mobile number, and One-Time Passcode (OTP).
    </p>
  </li>
  <li>
    <p>
      Proceed to the physical collection point and present your identification card for collection.
    </p>
  </li>
  <li>
    <p>
      Verify eligibility by scanning your identity card in SupplyAlly.
    </p>
  </li>
  <li>
    <p>
      SupplyAlly checks backend on eligibility and/or any prior collection information. If the eligibility check fails, an error screen will display the reason for failure.
    </p>
  </li>
  <li>
    <p>
      If eligible, you can then enter the item into SupplyAlly and hand the item to the recipient.
    </p>
  </li>
  <li>
    <p>
      SupplyAlly’s database of entitlement is updated automatically. 
    </p>
  </li>
</ol>

<h2>Success Stories</h2>

<figure style="text-align: center">
  <img
    src="/assets/img/supplyally-fig3.png" width="100%" height="100%" 
    alt="Fig 3: SupplyAlly’s journey in supporting various community distribution programmes"
  />
  <figcaption>Fig 3: SupplyAlly’s journey in supporting various community distribution programmes</figcaption>
</figure>
      
 <p>
   Since its launch on 5 April 2020, SupplyAlly has onboarded more than 8,000 users onto the SupplyAlly app, and facilitated the distribution of 4.2 million reusable masks. It has also been used in partnership with <a href="https://engineeringgood.org/" target="_blank">Engineering Good</a>, a non-profit organisation, to provide refurbished laptops to under-privileged children for home-based learning programmes. Over $20 million in physical credit vouchers for low-income households have also been delivered through the app. SupplyAlly will continue to be used in partnership with charities for the allocation of food packs and meal credit redemptions.
</p>
<p>
  SupplyAlly is also being used to distribute <a href="/products/categories/digital-solutions-to-address-covid-19/tracetogether" target="_blank">TraceTogether</a> Tokens during the COVID-19 pandemic. To prevent further COVID-19 transmission, SupplyAlly partnered with the Ministry of Health (MOH) to distribute free DIY Covid-19 test kits to the Bukit Merah and Redhill residents in June 2021. This was subsequently rolled out to the residents in other areas and when the free test kits distribution ended in August 2021, more than 106,000 free test kits were given out to the residents. SupplyAlly will continue to be used in partnership with charities for the allocation of food packs and meal credit redemptions.
</p>

<h2>What's Next?</h2>

<p>
  SupplyAlly is currently deployed at <a href="https://www.foodfromtheheart.sg/" target="_blank">Food from the Heart</a>’s <a href="https://www.foodfromtheheart.sg/highlights/digitalising-food-pack-collection-qr-code-beneficiary-cards-mobile-app-88" target="_blank">community food pack</a>  programme, where volunteers use the app to enable efficient distribution of 9,000 food packs to needy households every month.
</p>
<p>
  The <a href="https://www.cdc.gov.sg/" target="_blank">Community Development Council (CDC)</a> has digitalised their <a href="https://www.straitstimes.com/singapore/up-to-400000-lower-income-households-to-receive-vouchers-to-spend-on-local-businesses" target="_blank">distribution of CDC vouchers</a>  with SupplyAlly as well.
</p>
<p>
  GovTech will continue to work with SupplyAlly partners to make improvements where necessary.   
</p>
<p>
  Visit this <a href="https://blog.gds-gov.tech/supplyally-a-journey-down-memory-lane-13699c7da96e" target="_blank">blog</a> for more information on SupplyAlly’s journey.
</p>

<h2>Contact Us</h2>
<p>{% include contact-us-form.html %}</p>

<h2>Meet the Team!</h2>

<div class="card-grid-container grid-25rem">
  {% for bios in page.bios %}
  {% assign img_url = "/assets/img/" | append: bios.img_src %}
  <div class="sgds-card">
    <div class="sgds-card-content">
      <img style="float: left; margin-right: 20px;" src="{{ img_url }}" alt="{{ bios.name}}">
      <p><strong>{{ bios.name}}</strong><br>
        {{ bios.desc }}
      </p>
    </div>
  </div>
  {% endfor %}  
</div>

      
