---
title: Community Engagement Playbook
layout: layout-page-sidenav
---

<p>
  Insert some overview for the playbook
</p>

{% if site.comm-eng-playbook-articles %}
<div class="card-grid-container grid-25rem">
  {% for article in site.comm-eng-playbook-articles %}
    <div class="sgds-card">
        <div class="sgds-card-content" style="height: 100%; flex-direction: column; display: flex; justify-content: space-between;">
        <a href="{{ article.url }}" style="height: 100%"><h4>{{ article.title }}</h4></a>
          <!-- <p>{{ article.date | date_to_string }}</p> -->
          <!-- <p>{{ article.description }}</p> -->
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endif %}
