---
title: Community Engagement Playbook
layout: layout-page-sidenav
---

<p>
  Insert some overview for the playbook
</p>
{% assign page_collection = page.collection %}
{% assign page_dir = page.dir %}
{% assign page_parent_folder = page.id | split: "/" | pop | last %}
<div class="card-grid-container grid-25rem">
  {% for article in site[page.collection] %}
    {% assign name = article.name  %}
    {% comment %}
      This will avoid rendering the current overview page
      if the Page title is Community Engagement Playbook, it will skip it
    {% endcomment %}
    {% if page.title != article.title and article.path contains page_parent_folder %}
    <div class="grid-item">
      <div class="sgds-card">
        <div class="sgds-card-content">
          <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
          <p>
            <!-- TODO: [issue] markdownify create blank <p> tag at the top and bottom of description -->
            {{ article.description | markdownify }}
          </p>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

