---
title: Community Engagement Playbook
layout: layout-page-sidenav
---

<p>
  Insert some overview for the playbook
</p>

<div class="card-grid-container grid-25rem">
  {% for project in site.stack-x-meetups %}
    {% assign id = project.id | split: "/" | last %}
    {% if id != "index" and project.path contains "community-engagement-playbook" %}
    <div class="grid-item">
      <div class="sgds-card">
        <div class="sgds-card-content" style="height: 100%; flex-direction: column; display: flex; justify-content: space-between;">
          <h3>{{ project.title }}</h3>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
