---
layout: layout-default
---

<section class="sgds-section is-small has-background-black padding--bottom--lg padding--top--lg" style="background: url('/assets/img/bg_splash.jpg') fixed top center; background-size: auto 100%;">
  <div class="sgds-container">
    <div class="content has-text-white">
      {% include sgds-breadcrumb.html %}
      <h4 class="has-text-weight-bold">{{page.title}}</h4>
    </div>
  </div>
</section>

<section class="sgds-section">
  <div class="sgds-container">
    <div class="content">
      {{content}}
    </div>
  </div>
</section>
