---
layout: layout-default
---

{% include page-header.html %}

{% assign pageTitleSlug = page.title | slugify %}

{%- if page.single_level_nav -%}

{%- assign page_name = page.id | split: "/" | last -%}

<section class="sgds-section page-{{ page_name }} mobile-single-level-nav-section">
    <div class="sgds-container content has-default-header-styles">
        <div class="mobile-single-level-nav-section-header">
        <strong class="is-small is-hidden-desktop">PRODUCT MENU</strong>
        </div>
        <div class="mobile-single-level-nav is-hidden-desktop">
          <button class="sgds-button is-small mobile-sidenav-toggle" type="button">
              <span class="mobile-single-level-nav-font">{{ page_name | split: "-" | join: " " | capitalizewords }}</span>
              <span class="sgds-icon sgds-icon-chevron-down"></span>
          </button>
          <ul class="mobile-sidenav-menu is-hidden">
              {% include sidenav-single-level.html %}
          </ul>
      </div>
    </div>
</section>
{% endif %}

<section class="sgds-section page-{{ pageTitleSlug }}">
    <div class="sgds-container content has-default-header-styles">
        {{ content }}
    </div>
</section>
