---
layout: layout-default
---

<section class="sgds-section has-background-black padding--bottom--lg padding--top--lg" style="background: url('/assets/img/bg_splash.jpg') fixed top center; background-size: 100% 100%;">
  <div class="sgds-container">
    {% include sgds-breadcrumb.html %}
    <h3 class="has-text-white has-text-weight-bold">{{page.title}}</h3>
  </div>
</section>

<section class="sgds-section">
  <div class="sgds-container">
    <div class="content article">
      {{content}}
    </div>
  </div>
</section>
