<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      href="{{ site.baseurl }}/assets/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/bundles/main.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link 
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" 
      rel="stylesheet"
    />

    {% if site.git_branch == 'dev' %}
      <script src="https://assets.dcube.cloud/scripts/wogaa.js"></script>
    {% endif %}

    {% if site.git_branch == 'master' %}
      <script src="https://assets.wogaa.sg/scripts/wogaa.js"></script>
      <!-- Facebook Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '688926055194344'); 
        fbq('track', 'PageView');
      </script>
      <noscript>
      <img height="1" width="1" 
        src="https://www.facebook.com/tr?id=688926055194344&ev=PageView
        &noscript=1"/>
      </noscript>
      <!-- End Facebook Pixel Code -->
    {% endif %}

    {% if site.ga_id != nil and site.git_branch == 'master' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_id }}"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "{{ site.ga_id }}");
    </script>
    {% endif %}

    {% if site.hj_id != nil and site.git_branch == 'master' %}
    <!-- Hotjar Tracking Code for https://www.developer.gov.sg -->
    <script>
      (function(h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function() {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: parseInt("{{ site.hj_id }}"), hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
    {% endif %}
    {% seo %}
  </head>

  <body>
    <div class="main">
      {%- include top-nav.html -%}
      {% if page.layout == "layout-page-sidenav" or page.layout == "layout-category-listing" %}
      <div class="mobile-sidenav is-hidden-desktop">
          <button class="sgds-button is-small mobile-sidenav-toggle" type="button">
              {%- assign collectionName = page.collection -%}
              <span>{{ collectionName | split: "-" | join: " " | capitalizewords }}</span>
              <span class="sgds-icon sgds-icon-chevron-down"></span>
          </button>
          <ul class="mobile-sidenav-menu is-hidden">
              {% include sidenav.html %}
          </ul>
      </div>
      {% endif %}
      {%- include feedback-banner.html -%}
      {{content}}
    </div>
    <div class="footer">
      {%- include sgds-footer.html -%}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/bundles/main.bundle.js"></script>
  </body>
</html>
