.blog-group{
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}

.card-grid-container{
    .grid-25rem{
        @at-root .blog-group {
            padding-bottom: 0;
        }
    }
}