---
title: Events
layout: layout-page-sidenav
description: Explore multiple events and collaboration opportunities organised by GovTech for individuals involved in all aspects of digital
  transformation here.
redirect_from:
  - /communities/events/
event_types:
  - name: Conferences
    icon_name: conference
    description: Explore upcoming conferences for the tech community to learn from each other, share experiences, and collaborate.
  - name: STACK Meetups
    icon_name: stack_meetup
    description: Our Meetups are close-knit events for the tech community to discuss various topics of interest.
---

<h2>Events</h2>
<p>
  Help to drive Tech for Pulic Good through our events, this includes conferences and Meetups for all tech community members. 
</p>

<p class="margin--bottom--none has-text-weight-semibold is-size-8">
  <a href="/communities/events/all-events/" class="d-flex sgds-link-icon" style="text-decoration: none;">
    <span class="sgds-icon sgds-icon-list is-size-6" aria-hidden="true"></span>
    View all events
  </a>
</p>

<hr />

<div class="card-grid-container grid-25rem">
  {% for sub_section in page.event_types %}
  {%- assign name = sub_section.name %}
  {%- assign description = sub_section.description -%}
  {%- assign sub_section_slug = sub_section.name | slugify -%}
  <!-- Log the sub-section_slug -->
  {%- assign url_str = "/communities/events/" | append : sub_section_slug | append : "/" -%}
  {%- assign imageCategory = sub_section.icon_name | append : "s"| downcase | slugify -%}
  {%- assign img_src = '/assets/img/communities/' | append: imageCategory | append: '.svg' | downcase -%}

  <div class="sgds-card {{include.parentCardStyle}}">
    <div class="sgds-card-content">
      <img src="{{img_src}}" class="margin--left--none" alt="Icons" />
      {% include card-header-info.html
        name=name
        url_str=url_str
        disableItemCount=disableItemCount
      %}
      <div>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
