---
title: STACK-X 2021 Conference
layout: layout-page-sidenav
description: >
  View on-demand videos from our STACK X- CI/CD with SHIP-HATS 2021 Conference here! For developers working on Singapore Government IT projects and agencies modernising application development.
video_list_layout: 'stack-x-conference-video-list.html'
redirect_from:  - /communities/events/stack-x-conference/
---

<figure>
  <img
    src="/assets/img/stack-x-ship-hats-hero.jpg"
    alt="Stack-X SHIP-HATS Hero"
  />
</figure>

<p>
  View on-demand videos from our STACK X- CI/CD with SHIP-HATS 2021 Conference here! For developers working on Singapore Government IT projects and agencies modernising application development.
</p>

<div class="sgds-tabs">
  <ul class="no-margin" role="tablist">
    <li class="is-active">
      <a data-tab="#tab1" role="tab" aria-selected="true" aria-controls="tab1">
        Keynote
      </a>
    </li>
    <li>
      <a data-tab="#tab2" role="tab" aria-selected="false" aria-controls="tab2">
        Product
      </a>
    </li>
  </ul>
</div>

<div class="tab-content" id="tab1">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Opening, Keynote - VOD, Keynote - Live Chat" %}
  {% endif %}
</div>

<div class="tab-content" id="tab2">
  {% if page.video_list_layout %}
    {% include_relative {{ page.video_list_layout }} type="Product - VOD" %}
  {% endif %}
</div>
