<!-- How to use videos-display.html partial file to display videos, articles and slides content

1. Copy this block of code below:

<div class="card-grid-container is-fullwidth">

  {% include videos-display.html type=include.type _data="stack-x-cloud-2021-videos" articles_folder="stack-2020" %}
  
</div>

2. Edit the fields _data and articles_folder where _data is the data file name only without .yml extension and 
   articles_folder is just the folder name within /events which holds all the articles

 -->

 <div class="card-grid-container is-fullwidth">

  {% include videos-display.html type=include.type _data="stackx2021conference-videos" articles_folder="" %}
  
</div>