---
title: STACK-X Cloud 2021
layout: layout-page-sidenav
published: false
description: >
  CI/CD with SHIP-HATS is a two-day conference for developers and IT leaders to modernise securely, learn from peers and steps to get started
---

<style>
  .speaker-list {
    margin-top: 2rem;
  }
  .speaker-list > .row {
    margin-bottom: 2rem;
  }
  .tab-content figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 200px;
    height: 200px;
    object-fit: cover; */
    /* border-radius: 50%; */
  }
  @media (max-width: 768px) {
    .tab-content figure {
      max-width: 33%;
    }
  }
</style>

<figure>
  <img
    src="/assets/img/stack-x-ship-hats-hero.jpg"
    alt="Stack-X SHIP-HATS Hero"
  />
</figure>

<p>
  Join us on a <strong>virtual conference</strong> to learn about
  Singapore Government's vision, approach and programmes to help agencies to
  <strong
    >accelerate their modernisation and digitalisation plans with CI/CD.</strong
  >
  The conference <strong>spotlights SHIP-HATS</strong> - the CI/CD component in
  Singapore Government Tech Stack.
</p>
<p>
  <strong>
    <a
      class="sgds-button is-primary"
      href="https://form.gov.sg/60754b9a59eae200134dfdc7"
      >Register Now</a
    >
  </strong>
</p>

<section>
  <h4>Who should attend?</h4>
  <p>We have tailored content for:</p>
  <div class="row is-multiline">
    <div class="col is-4">
      <li>
        Industry professionals
      </li>
    </div>
    <div class="col is-4">
      <li>
        Agency Product Managers, Business Analysts, Developers, Solution
        Architects, CIOs, IT Directors
      </li>
    </div>
  </div>
</section>
<br />
<figure>
  <img
    src="/assets/img/stack-x-ship-hats-why-you-should-attend.jpg"
    alt="explanation on why we should attend Stack-X SHIP-HATS conference"
  />
</figure>

<section class="col is-boxed">
  <h4>Event details</h4>
  <div class="row is-multiline">
    <div class="col is-6">
      <h6>6 May 2021, Thursday</h6>
      <p>Sessions: Keynotes & Tracks: Leaders, Product, Government</p>
      <p>10:00 AM - 3:30 PM</p>
      <p></p>
      <p>
        Virtual sessions on Zoom.
      </p>
    </div>
    <div class="col is-6">
      <h6>7 May 2021, Friday</h6>

      <p>Sessions: SHIP-HATS Developer Workshops</p>
      <p>Due to recent local Covid-19 developments, we are minimising social interaction. Hence, this session is <strong> postponed </strong>until further notice.</p>
      
    </div>
  </div>

</section>
<br />
<p>
  <strong>
    <a
      class="sgds-button is-primary"
      href="https://form.gov.sg/60754b9a59eae200134dfdc7"
      >Register Now</a
    >
  </strong>
</p>
<section>
  <br />
  <h4>Programme</h4>
</section>

<div class="sgds-tabs">
  <ul class="no-margin" role="tablist">
    <li class="is-active">
      <a data-tab="#tab1" role="tab" aria-selected="true" aria-controls="tab1">
        Keynote
      </a>
    </li>
    <li>
      <a data-tab="#tab2" role="tab" aria-selected="false" aria-controls="tab2">
        Leaders
      </a>
    </li>
    <li>
      <a data-tab="#tab3" role="tab" aria-selected="false" aria-controls="tab3">
        Product
      </a>
    </li>
    <li>
      <a data-tab="#tab4" role="tab" aria-selected="false" aria-controls="tab4">
        Government
      </a>
    </li>
    <li>
      <a data-tab="#tab5" role="tab" aria-selected="false" aria-controls="tab5">
        Workshops
      </a>
    </li>
  </ul>
</div>
{% assign keynotes = site.data.stackx2021cloud | where_exp: "item", "item.type contains 'Keynote'" %}
{% assign leaders = site.data.stackx2021cloud | where_exp: "item", "item.type contains 'Leader'" %}
{% assign products = site.data.stackx2021cloud | where_exp: "item", "item.type contains 'Product'" %}
{% assign governments = site.data.stackx2021cloud | where_exp: "item", "item.type contains 'Government'" %}

<div class="tab-content" id="tab1">
  <h6>Morning Keynotes</h6>
  <p><strong>6 May 2021</strong></p>
  <p>Virtual Conference: Zoom Webinar</p>
  <p></p>
  <p>
    Thought leadership sessions for all – agency, industry, leadership and
    practitioners.
  </p>  
  {% include_relative includes/stack-x-cloud-2021-itinerary.html itinerary=keynotes %}
  
</div>

<div class="tab-content" id="tab2">
  <h6>Leaders Track</h6>
  <p><strong>6 May 2021</strong></p>
  <p>Virtual Conference: Zoom Meeting</p>
  <p>
    This is a closed virtual track curated exclusively for Agency CIOs and IT
    Leaders.
  </p>
  {% include_relative includes/stack-x-cloud-2021-itinerary.html itinerary=leaders %}

</div>


<div class="tab-content" id="tab3">
  <h6>Product Track</h6>
  <p><strong>6 May 2021</strong></p>
  <p>Virtual Conference: Zoom Webinar</p>
  <p>
    This virtual track is for developer communities, especially those who write
    or manage code for Singapore Public Agencies looking to understand products
    and tools available within SHIP-HATS. There is a live Q&A at the end of each
    session!
  </p>
  {% include_relative includes/stack-x-cloud-2021-itinerary.html itinerary=products %}
</div>

<div class="tab-content" id="tab4">
  <h6>Government Track</h6>
  <p><strong>6 May 2021</strong></p>
  <p>Virtual Conference: Zoom Webinar</p>
  <p>
    This is a closed virtual track for Public Officers to learn how CI/CD can
    help them achieve compliance with SHIP-HATS and practical tips from
    tendering to onboarding.
  </p>

  {% include_relative includes/stack-x-cloud-2021-itinerary.html itinerary=governments %}

</div>

<div class="tab-content" id="tab5">
  <h6>SHIP-HATS Developer Workshops</h6>
   <p> Due to recent local Covid-19 developments, we are minimising social interaction. Hence, this session is <strong> postponed </strong>until further notice.</p>
  
  <p>
    The workshop covers how to build and release a container application using
    SHIP-HATS to Government Commercial Cloud (GCC)
  </p>
  <div class="sgds-card">
    <div class="sgds-card-content">
      <h4>Continuous Integration</h4>
      <p>
        Dependency management using Nexus solution and automated container
        scanning using Prisma Cloud.
      </p>
      <h4>Release Management</h4>
      <p>
        Promote release artifacts to production with secure deployment to GCC
        compartments.
      </p>
    </div>
  </div>
</div>